[2015-06-18 07:18] tchemit opened #1 "Change scm entries"

[2015-06-18 07:24] #1 closed

[2015-06-18 07:33] tchemit opened #2 "Change issue tracking link"

[2015-06-18 07:38] tchemit commented on #2
Was already done by #1

[2015-06-18 07:38] #2 closed

[2015-06-18 08:02] tchemit opened #3 "Configure site deploy to gh-pages"

[2015-06-18 08:24] #3 closed

[2015-06-26 06:44] tchemit opened #5 "Remove trailing spaces in licenses"
There is some trailing spaces in some of defined licenses.

[2015-07-09 12:38] AstridS opened #6 "Feature request: Add aggregate-third-party-report"
Hi everybody,
we are using this plugin for multi module maven projects. The goal aggregate-add-third-party works great and generates the aggregated THIRD-PARTY.txt.
It would be wonderful to have an aggregate-third-party-report also: an HTML version of the aggregated THIRD-PARTY.txt
Please consider implementing this new report.
Kind regards,
Astrid

[2015-08-02 21:51] mpkorstanje opened #7 "Prevent formatting of licence headers in java files"
You can prevent formatting of licence headers in java files using the start tag `/*-` rather then `/*`. This would avoid the need to either run maven before each commit, or for custom formatting setting to exclude the header from formatting - or suffer the superfluous changes in the commit log.

[code]
It seems to be part of the Java standard but I couldn't find any recent sources on short notice.

[2015-08-30 13:53] tchemit commented on #6
@AstridS I will have a look at this soon. thanks for idea.

[2015-09-10 15:03] jieryn opened #10 "org.codehaus.mojo:license-maven-plugin:1.8:update-file-header NPE in multithreaded multi-maven projects; mvn-3.3.6"
ERROR] Failed to execute goal org.codehaus.mojo:license-maven-plugin:1.8:update-file-header (default-cli) on project dao: could not execute goal UpdateFileHeaderMojo for reason : null: NullPointerException -> [Help 1]
org.apache.maven.lifecycle.LifecycleExecutionException: Failed to execute goal org.codehaus.mojo:license-maven-plugin:1.8:update-file-header (default-cli) on project dao: could not e

[2015-09-11 10:06] grigortonkov opened #11 "Support for tycho Plugin"
I have a maven project based on the tycho plugin.
the dependency are resolved by tycho using the manifest.mf files.
I want to use the license-maven-plugin to collect the licences.
Please provide solution hot to do it.

Example pom file.

<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation

[2015-09-17 10:24] tazle opened #12 "aggregate-add-third-party scope not limited to the project it's executed in"
*Aggregate-add-third-party* goal aggregates licenses of all dependencies of all projects in the reactor build instead of the dependencies of the project it's executed in.

For example, consider the following project structure:
* parent (pom)
  * project1 (pom, executes *aggregate-add-third-party* plugin in 'compile' phase)
    * project1-code (jar, depends on hibernate)
  * project2 (pom, executes

[2015-09-22 18:54] philandrews-ixxus opened #13 "ID mismatch when using SNAPSHOT versions"
There is a problem when using SNAPSHOT dependencies which resolve to specific artifacts using maven-metadata.xml:
[code]
 which results in the dependency not being recognized when present in the missing file and removed, but then since no license is present in the POM the same dependency is added back to the missing file using the original ID which doesn't work.

The problem seems to be tied to an

[2015-10-01 09:37] matt-shaw commented on #6
I would also like this feature.  It would be great to have it fully integrated into a site report.

[2015-10-06 10:02] ntdaley opened #14 "Allow license to be specified for dependencies with 'Unknown license' (or with multiple licenses)"
My project is using a number of dependencies that have not specified their license in their pom file.
It would be useful to be able to override the license for dependencies that do not specify the license themselves (or for selecting a license on dependencies that specify multiple licenses).

This would allow us to create a THIRD-PARTY.txt report without 'Unknown license' dependencies, which would

[2015-10-06 10:13] ntdaley commented on #14
Sorry, just realised you already have the 'missing file' for doing this.

[2015-10-06 10:13] #14 closed

[2015-10-25 23:24] bstopp opened #16 "Exclusions don't seem to work"
When running `mvn license:update-file-header`
Configured with:

[code]

Still processes my JS files. Also tried:

[code]

I'm really just trying to get it to not process my vendor provided files, but test cases are showing nothing working yet.

[2015-11-26 17:46] heapifyman opened #18 "adding custom license in multi-module project fails with "could not obtain the license repository""
Hi,

I'm trying to add a custom license to a multi-module maven project following the instructions here:
http://www.mojohaus.org/license-maven-plugin/examples/example-add-license.html

I have license-maven-plugin configured in my root pom like this:

[code]

and added
[code]

to the modules' poms' <build> sections.

But when I now run ```mvn clean process-sources``` I get

[code]

which is correct

[2015-12-14 16:47] heapifyman opened #19 "plugin adds illegal license header to .sql files"
I have a .sql file in my project, which is for a MySQL database.

The license added by the plugin to the file looks like this:

[code]

It seems that the first and last line are an invalid comment for MySQL. There should only be 2 dashes
[code]

[2015-12-21 08:22] matt-shaw opened #20 "Aggregate download-licenses for multi module projects"
It would be really useful if the download-licenses goal could aggregate the results for multi module projects.

[2016-01-15 13:21] heapifyman commented on #19
sorry, I did not see the solution in the project's FAQ:
http://www.mojohaus.org/license-maven-plugin/faq.html#mysql-file-header

[2016-01-15 13:21] #19 closed

[2016-01-15 15:19] heapifyman opened #21 "add goal to remove license headers from files again"
I had already added license headers with the default `processStartTag` and `processEndTag` values to a couple dozen of source files using this plugin.

Then I tried changing the `processStartTag` and `processEndTag` values and ended up with having the new **and** old license header in the source files.

I couldn't find any way to either replace the header or completely remove the header before add

[2016-01-15 15:23] heapifyman opened #22 "add license header after DOCTYPE in html files"
As far as I know older Internet Explorer versions seem to have trouble with html files that contain comments (e.g. the license header) **before** the DOCTYPE.

Is there a way to configure the plugin to add the license header **after** the DOCTYPE for html files?

Like it is already done for XML files where the header is added after the ```<?xml .... ?>```

[2016-01-29 10:31] heapifyman opened #23 "Dates in license header are not updated"
Hi,

it's a whole new year. If my license header from last year read e.g.:
```Copyright 2012 - 2015 ... ```
shouldn't it be updated to:
```Copyright 2012 - 2016 ... ```
when I (edit and) rebuild the project now?

[2016-01-29 11:14] mpkorstanje commented on #23
It should [and it does](https://github.com/mpkorstanje/simmetrics/commit/0a195751b2bdbb29248aea5081ddceb87cbc61b3#diff-a5999b765622a72744dd031494aa4889). But you have to configure it to configure it with <canUpdateCopyright>true</canUpdateCopyright>.

			<plugin>
				<groupId>org.codehaus.mojo</groupId>
				<artifactId>license-maven-plugin</artifactId>
				<version>1.8</version>
				<configuration

[2016-01-29 11:43] heapifyman commented on #23
You're right, of course. I missed that in the documentation.
Thanks.

Follow-up question: it is not possible to "update" the ```processStartTag``` and ```processEndTag``` once a license header has been added to a file, is it?

[2016-01-29 12:10] mpkorstanje commented on #23
Nope. You'd have to remove the licence first but as is you'll have to create a pull request with that functionality first.

[2016-01-29 14:11] heapifyman commented on #23
But there is no ```remove``` goal in the plugin, right? So I'd have to manually remove the existing license headers?

[2016-01-29 16:38] kluckow commented on #13
Hey @philandrews-ixxus,
I am facing the same issue concerning those SNAPSHOTS with maven-metadata.xml's.

I have already tried some modifications concerning the MavenProject checks and tested it, but it did not work out and I have no idea if I am on the right way.

Do you have any idea for a solution to include SNAPSHOT+maven-metadata.xml handling?

[2016-01-30 23:46] mpkorstanje commented on #23
Yup. Either that or add it to the plugin. But I'm not sure about the state of the project atm. Some prs are getting merged but not a whole lot of activity otherwise.

[2016-02-01 15:51] kluckow commented on #13
I am pretty sure I got a solution for this problem.
Could anyone tell me how to contribute it the correct way? :)

[2016-02-04 18:21] DivineThreepwood commented on #10
I can confirm this bug. Maven prints already warnings during multi core builds:

[WARNING] *****************************************************************
[WARNING] * Your build is requesting parallel execution, but project      *
[WARNING] * contains the following plugin(s) that are not marked as       *
[WARNING] * @threadSafe to support parallel building.                     *
[WARNING] * Whi

[2016-02-04 18:39] kluckow commented on #13
Pull request sent...

[2016-03-12 23:12] maggu2810 opened #30 "Plans for a 1.9 release"
Hello,
are there already plans for a new release?
At which time I could expect a official 1.9 that contains the last commits?

[2016-03-12 23:57] tchemit commented on #30
Hi @maggu2810 , I will try to start a release next week.

[2016-03-13 01:03] maggu2810 commented on #30
Glad to hear. Thank you :wink:

[2016-03-13 01:03] #30 closed

[2016-04-01 13:33] slanglois opened #31 "Referencing licenses at the root of the classpath fails with "no baseURL defined""
I wanted to reference header texts in an artifact, so using `<licenseResolver>classpath://<licenseResolver>`
However, this only works if the licenses are in a package / subfolder of the artifact.

If they are at the root of the classpath, you get a strange error:
[code]

Workaround: put your licenses in a subfolder of the artifact, and use `<licenseResolver>classpath://subfolder<licenseResolver>`

[2016-04-04 12:34] maggu2810 commented on #30
Any news?

[2016-05-03 06:52] maggu2810 commented on #30
ping @tchemit

[2016-05-18 08:27] tchemit commented on #23
Hi, I will cut a release 1.9 today (or starts it...). the projet is back on track, so stay tuned :)
I close this issue since there is nothing more to do on it.

[2016-05-18 08:27] #23 closed

[2016-05-20 16:29] tchemit commented on #13
Closed by PR #26

[2016-05-20 16:29] #13 closed

[2016-05-21 13:27] #5 closed

[2016-05-21 13:33] tchemit commented on #18
@heapifyman AFAICR in a multi-module you need to copy-paste license since each module must be standalone.
I place this issue on milestone 1.10 to figure out a nice way to fi xthis.

[2016-05-21 14:30] tchemit commented on #31
@slanglois I fix the code for your case, you can now use `<licenseResolver>classpath://<licenseResolver>`

[2016-05-21 14:30] #31 closed

[2016-05-21 15:31] #7 closed

[2016-05-21 15:34] tchemit commented on #7
@mpkorstanje you can use now `useJavaNoReformatCommentStartTag`  in plugin configuration to get `/*-` comment start tag for java files.

[2016-05-21 15:54] mpkorstanje commented on #7
Much obliged.

[2016-05-21 15:57] #22 closed

[2016-05-21 15:59] tchemit commented on #22
@heapifyman enjoy this new feature in version 1.9 ;).

[2016-05-21 16:03] tchemit commented on #11
@grigortonkov I don't know at all tycho dependencies resolver, I will have a look about it.

[2016-05-21 16:14] tchemit commented on #16
@bstopp I just try on version 1.9 and it works fine to me. I changes the integration test `update-file-header-test-mojo` to prove this.

I tried with

` <exclude>**/*.js</exclude>`

and

` <exclude>**/aPath/*.js</exclude>`

[2016-05-21 16:14] #16 closed

[2016-05-21 16:20] tchemit commented on #12
@tazle I am not quite sure you are using the aggregate goal as it should be. IMHO aggregate mojo should always and only be used on a parent pom but never on his children. I will have a closer look at your problem.

[2016-05-21 16:21] tchemit commented on #10
I will have a look soon to make the plugin thread safe.

[2016-05-21 18:33] tchemit commented on #30
@maggu2810 ... ok next week was this week-end ;).

[2016-05-22 10:37] heapifyman commented on #18
@tchemit I could avoid copying the actual license information by specifying the following in each sub-module:
[code]

However, it would be cool if even this could be avoided and the plugin could "auto detect" the license somehow.

[2016-05-22 14:43] maggu2810 commented on #18
Why not using classpath for licenseResolver and point to a artifact that contains the license resources.
This is how it is done by all my multi-modules projects.

[2016-05-23 08:31] heapifyman commented on #18
@maggu2810 I will try that. Is it enough to just package the license and header txt in a jar file or do I need to provide some code, as well? The example here http://www.mojohaus.org/license-maven-plugin/examples/example-add-license.html is not clear about that.

[2016-05-23 08:46] #6 closed

[2016-05-23 08:50] tchemit commented on #18
@heapifyman No code needed here. Just need to get your artifact as dependency as the license-maven-plugin.

[2016-05-23 08:52] tchemit commented on #18
@heapifyman as the licenseResolver accepts any url, you can also use for example an web resources.

[2016-05-23 09:03] tchemit opened #36 "Migrate deprecated goals.txt to invoker.properties files"

[2016-05-23 09:10] #36 closed

[2016-05-23 09:35] tchemit opened #37 "Some integration tests post build scripts are not executed"
Some its uses bsh scripts, other groovy one.

Unify this using only groovy scripts named `postbuild.groovy`

[2016-05-23 09:39] #37 closed

[2016-05-23 10:27] #20 closed

[2016-05-23 10:53] maggu2810 commented on #18
@heapifyman As @tchemit already ansered, I hope it is more clear now.

[2016-05-23 10:58] heapifyman commented on #18
@tchemit  @maggu2810 yes. thank you. I got it working.

issue can be closed as far as I am concerned.

[2016-05-23 11:01] heapifyman opened #38 "Question: how to define <extraExtensions> for files without file extension"
How would I define `<extraExtensions>` for a file that does not have a file extension, like e.g. `Dockerfile`?

Or is `Dockerfile` covered by any one of the default ones?

[2016-05-23 13:09] heapifyman commented on #18
One thing I found confusing was that I had to specifically add our internal artifactory repository as `pluginRepository` (it was already declared as "normal" `repository`) in my `pom.xml ` for license-maven-plugin to find my jar with the license.

Without the `pluginRepository` definition it would only try to download the license-jar from Maven Central and of course fail.

[2016-05-23 13:14] maggu2810 commented on #18
I think that is the normal / expected behavior.
The license is added to the dependency of the plugin and so resolved by the plugin repositories.

It is correct, that you do need to know how maven handle this, but this is not related to the license plugin. It is the way how this is done in Maven.

[2016-05-23 13:20] heapifyman commented on #18
@maggu2810  Ok. Got it.

You wouldn't happen to have an answer to #38, as well?

[2016-05-23 13:39] #18 closed

[2016-05-23 13:45] tchemit commented on #38
@heapifyman AFAICR this is not possible easily on this version. I will have a closer look on this new feature.

[2016-05-24 08:36] fmarot opened #39 "Question: xml alternative to THIRD-PARTY.properties with additionnal info"
1- I have a requirement where I should add additional info to the info provided in the THIRD-PARTY.properties .
For example, I have published in my company repo some specific artifacts based on some open source projects but packaged differently (most are native dependencies packaged in a zip). So there is no licence info, no url, nothing. And the GroupId/ArtifactId are specific to my company: gene

[2016-05-24 10:08] tchemit commented on #39
Hi @fmarot, if you have any  existing working solutions, for your both problems, do not fear to threw them here via some PR.

[2016-05-24 10:18] fmarot commented on #39
Hi ! No I have no solutions developed, but I *may* be interested in implementing them if you are interested. If you are not, I may dev another in-house solution. I'd like to leverage the existing plugins if you are interested.
And even if you are interested and IF I dev something, I understand it may not be merged, depending on many things (quality...). But if the feature I propose are of any inte

[2016-05-24 13:00] tchemit commented on #39
@fmarot  Ok, would be a pleasure to work together in the haus.
Can you provide a sample example of your proposal (for question 1).
For question 2, could you create a separate issue please, will be some easy to work on it then.

[2016-05-25 10:09] Matze2 opened #40 "Possibility to exclude own dependencies in download-licenses goal"
Our own artifacts do not have any license information which leads to false warnings like
[WARNING] POM for dependency <our-group-id1>:<our-artifact1> has an invalid license URL: null
[WARNING] No license information available for: <our-group-id2>:<our-artifact2>

While this is only a cosmetic issue it might happen that real warnings about missing license of foreign components get overseen.

It wou

[2016-05-25 10:20] Matze2 commented on #39
What I would like to have would be a merge of THIRD-PARTY.properties and licenses.xml.
If the license information is incorrectly configured for an artifact it is needed to setup similar information in two different places with two different file formats for add-third-party and download-licenses goals.

[2016-05-25 16:31] ntdaley opened #41 "Ability to override/correct/clarify third party licenses"
There are two use cases where I would like to be able to override the license(s) specified by a dependency's pom.

(I do of course recognise that this has potential for misuse, to produce results attributing the wrong license)

Some dependencies list multiple licenses, because they are dual licensed.  i.e. I have a choice between which license I use.
For this case, I would like to be able to speci

[2016-05-29 06:54] solomax opened #42 "THIRD-PARTY.properties is not generated"
It seems like THIRD-PARTY.properties files are not being generated for multi-module project if
"aggregate-add-third-party" goal is used with "useMissingFile" option

Could you please fix it?

[2016-05-29 06:56] solomax opened #43 "aggregate-add-third-party goal has no groupByLicense option"
I believe it would be good idea to add "groupByLicense" option to "aggregate-add-third-party" goal

[2016-05-29 06:58] solomax opened #44 "Apache like LICENSE file generation"
It would be extremely helpful if plugin will be able to generate LICENSE file like [1]

so there will be blocks like:
license name
affected libraries
license text

[1] https://git-wip-us.apache.org/repos/asf?p=tomee.git;a=blob_plain;f=LICENSE;hb=HEAD

[2016-06-01 05:14] solomax opened #45 "aggregate-add-third-party fails on multimodule project"
aggregate-add-third-party fails on multi-module project in case it was never build on the machine

in case project has following structure

parent
   child A
   child B (dependent on "child A")

since aggregate-add-third-party being run during generate sources phase no subprojects are build
the whole build fails

original report [1]

[1] http://markmail.org/message/qgiuuzhc6admkzpd

[2016-06-07 10:18] Franges opened #46 "Proxy problems when using goal "download-licenses""
We got a project that we are using your plugin for aggregating license information and adding the license text files to our delivery artifact within the package phase. After appending the “download-licenses” goal, we got this strange behavior that we can’t deploy to our maven repository anymore.

The build will fail with a 502 proxy error. The problems occurs only using goal “download-licenses”, “

[2016-06-10 15:27] Matze2 commented on #40
I gave it a quick try and added an "excludedGroups" property in AbstractDownloadLicensesMojo class and adjusted the getter and it immediately worked that we could exclude our own groups by regexp pattern for download-licenses goal.
So the existing code is already 99% prepared for that.

[2016-06-13 14:03] fmarot opened #47 "Why attaching the 'missing' file instead of the 'THIRD-PARTY' file"
I've just realized that the plugin allows to deploy the 'missing' file using 'deployMissingFile' option, but does not allow to deploy the 'third-party' file that is generated and contains the info about the licenses used.
I found it so strange ! Why would one deploy the former instead of the latter ?
Maybe I misunderstood something ;)

For the record, here is an exerpt from my config but I don't t

[2016-06-13 20:34] steveash opened #48 "Multi-module build sharing single missing file overwrites missing file every time"
Hello I have a multi-module build like this:

[code]

And I configured the root pom.xml like this:

[code]

Running `license:aggregate-add-third-party` from the root did produce an aggregated file -- but it overwrote my root src/license/THIRD-PARTY.properties file.  From the log output it looks like the first child project detected it correctly but the subsequent children overwrote it for some rea

[2016-06-13 21:25] steveash commented on #41
I especially agree with the filtering of excluded licenses from dual licensed artifacts. If it's dual licensed and one of the licenses is excluded/forbidden then don't output it in the report.

[2016-06-22 06:02] matt-shaw opened #50 "When will 1.10 be released?"
Hi,

When will 1.10 be released? I'm waiting for the new aggregate-third-party-report goal to be available.  Is there a snapshot available?

Thanks

[2016-06-27 13:55] TorstenKruse commented on #41
We struggled about dual licensed dependencies too. Would be quite nice if the plugin could handle this.

[2016-07-14 11:55] sewe opened #53 "m2e warns "Plugin execution not covered by lifecycle configuration""
Eclipse m2e warns about [this](https://www.eclipse.org/m2e/documentation/m2e-execution-not-covered.html) at least for the `license:update-project-license` goal (but probably also others).

(FWIW, as `license:update-project-license` generates resources, simply ignoring it during the build may not be desired.)

[2016-07-14 13:45] pacbeckh commented on #50
+1

[2016-07-20 13:02] jieryn commented on #44
Plugin already does this, see here: http://www.mojohaus.org/license-maven-plugin/update-project-license-mojo.html

Please close this issue.

[2016-07-20 13:07] jieryn opened #54 "license:check-file-header wrongly fails build"
http://www.mojohaus.org/license-maven-plugin/check-file-header-mojo.html

Perhaps a misunderstanding, but I understood `license:check-file-header -Dlicense.failOnMissingHeader=true -Dlicense.failOnNotUptodateHeader=true` to be similar to other plugins which will not update the source code, but instead check for compliance according to the rules of the plugin. So, when I invoke it, if any files in

[2016-07-20 13:59] jieryn commented on #54
I did some quick testing and found that description for all my licenses was being updated to have a spurious 0x10 at the end. I edited `src/main/resources/org/codehaus/mojo/license/default-file-header-description.ftl` to have no newline at the end (removing all leading comments and the freemaker <If> check at the bottom) so it is literally just ${projectName} with no newline at the end; and now my

[2016-07-21 07:14] solomax commented on #44
Hello @jieryn,
I might be not clear enough,  `mvn license:update-project-license -Dlicense.licenseName=apache_v2` will generate LICENSE.txt with selected licence text.

What I need is:
1) check all dependencies for my project (multimodule)
2) create the list of modules grouped by license
3) for each license generate block containing:
[code]

is it possible?

[2016-07-21 10:39] jieryn commented on #44
Ok, your original link didn't include any third party license information at all. It was just the general LICENSE.txt text and didn't reference any dependencies at all. That is exactly why I gave you the `update-project-license` link.

I think what you are describing is generically possible. Check out http://www.mojohaus.org/license-maven-plugin/plugin-info.html to see the list of goals by this pl

[2016-07-22 18:39] solomax commented on #44
Unfortunately I was unable to get the file I need using your plugin :(
This is why I'm handling this manually ...

will close the issue, thanks for your time

[2016-07-22 18:39] #44 closed

[2016-07-28 13:49] Martin-Wegner opened #55 "Slash in "name" tag causes trouble"
A slash in the "name" tag causes trouble:

For example:

[code]

The result is the following warning:

The problem is that the filename of the downloaded license is the value of the "name" tag. But a slash is not allowed for a filename under Linux.

[2016-09-23 14:30] heapifyman opened #56 "different line endings on windows and linux"
We have a problem with the license-plugin messing up line endings when adding the license header to source files in a mixed windows / unix environment using git for version control.

License information uses unix line endings and comes from a dependency artifact using  `<licenseResolver>classpath:`.

I also have configured `<canUpdateCopyright>true</canUpdateCopyright>` and `<canUpdateDescription>

[2016-09-23 16:45] mpkorstanje commented on #56
Looks like the line endings are read directly from the license files. Additionally a few line endings \n are added when strings are concatenated.

[2016-09-23 17:31] heapifyman commented on #56
Wow, that was fast.
One question though, shouldn't the "\n" used in the different FileHeaderTransformers also be replaced?

[2016-09-23 17:40] mpkorstanje commented on #56
The buffered reader effectively splits the string on `(\r)|(\n)|(\r\n)` which covers old-mac, unix and windows respectively. The way line endings are added no longer matters.

Should be noted that this changes all the line endings in the file to be platform appropriate, not just those in the header as the plugin has done before. I don't see any problems with that though.

[2016-09-23 17:46] mpkorstanje commented on #56
Looks like I'm tripping up some tests though. :S

[2016-09-23 18:02] mpkorstanje commented on #56
Also worth noting that the groovy integration tests are now platform specific. Not so groovy.

[2016-09-23 18:22] mpkorstanje commented on #56
Fixed those too.

@tchemit Everything should be good to go now.

[2016-09-26 09:18] heapifyman commented on #56
@mpkorstanje thanks. With your changes `update-file-header` run on a windows machine produces correct line endings and git does not get "confused" anymore.

[2016-09-28 09:51] heapifyman commented on #56
since changes in https://github.com/mojohaus/license-maven-plugin/pull/57 resolve the issue, what is the usual time frame for PRs to be included in an official release?

[2016-09-28 22:03] mpkorstanje commented on #21
Had a look at this. Not that trivial.

Running into the problem that the AbstractFileHeaderMojo is closely tied UpdateFileHeaderFilter. Adding a RemoveFileHeaderFilter would require refactoring AbstractFileHeaderMojo.init a bit to move those parts into the UpdateFileHeaderMojo.

Additionally FileHeaderFilter would need to be able to correctly transform the empty output of RemoveFileHeaderFilter in

[2016-09-28 22:18] mpkorstanje commented on #21
Okay. That won't do. FileHeaderFilter only works between start and end tags. Doesn't work with the whole commented section. Back to the drawing board.

[2016-09-28 22:52] mpkorstanje commented on #21
DefaultFilter is not smart enough to include the commentStartTag and commentEndTag. Might be worth writing our own filter that does that.

@tchemit are you very much attached to nuiton-processor?

[2016-10-08 21:38] mpkorstanje commented on #21
Got a [proof of concept](https://github.com/mpkorstanje/license-maven-plugin/tree/feature/21-remove-headers) working. Still a bit buggy and a bit of a mess structure wise but nothing too bad.

There is a gotcha of working with this goal. It will typically be invoked from the command line for a single use. So it will not pickup any configuration from the configuration in the execution section that

[2016-10-14 08:55] ST-DDT opened #58 "Allow using the current year in templates."
I would like to create a license template similar to this one:

Expected result:

I know, that I can just hardcode the current year, as it does not change very often,
but I keep forgetting it if I just create a minor fix in a project.

[2016-10-14 09:11] mpkorstanje commented on #58
It already does this. Though the copy right notice comes before the year. You do set canUpdateCopyright to true in the configuration.

For example see:

https://github.com/Simmetrics/simmetrics/blob/master/simmetrics-core/src/main/java/org/simmetrics/Distance.java

[2016-10-14 09:41] #58 closed

[2016-10-18 17:15] johnament opened #59 "Override the identified license?"
Our project has dependencies on a number of open source projects.  Using the license plugin generates the following call out:

[code]

AOP alliance is Public Domain, however XNIO is not.  XNIO is in fact apache license.  https://github.com/dmlloyd/xnio/blob/3.3.6.Final/LICENSE.txt  I was wondering if there's a way to override the selected license?  It seems to be coming from the parent pom, https:

[2016-10-18 17:50] mpkorstanje commented on #59
I don't believe there is. The current options all relate to missing licenses.

The problem with XNIO seems to be that the project did not override the license section from the parent pom. You may wish to consider a pull request against XNIO to fix that.

[2016-10-22 13:24] tchemit commented on #56
Ok, PR#57 was merged. I close this issue, a release should be started next week :).

[2016-10-22 13:24] #56 closed

[2016-10-22 13:28] tchemit commented on #50
A release will be started next week :).

[2016-10-22 13:28] #50 closed

[2016-10-22 13:30] tchemit commented on #38
I move this feature to backlog, for sure won't be done for version 1.10.

[2016-10-22 13:34] tchemit commented on #12
aggregate-third-party-mojo is designed to be used only on root maven project. If you want to execute it on each project modules level, use the thid-party-mojo instead.

I will close this issue since I can't figure out what to do. You can reopen this issue, including a test project to explain the defect. Thanks.

[2016-10-22 13:34] #12 closed

[2016-10-22 13:36] tchemit commented on #11
License maven plugin is written for maven usage, we won't include any support for other tycho plugin here, sorry. But if you provide us a good patch with this support we will be glad to include it. thanks.

[2016-10-22 13:36] #11 closed

[2016-10-22 13:38] tchemit commented on #10
I move this issue to backlog since it won't be done for version 1.10.

[2016-10-22 13:39] tchemit commented on #21
I move this issue to backlog, we need to discuss on it. I plan a 1.10 release soon, and I have some stuff under cook about this subject, ...

[2016-10-22 13:43] tchemit commented on #47
Missing files help to build other projects third party files, they need to be deployed.
Third party files can't help for building other maven project, so I don't see the point to deploy them.
You can still do this by yourself in your project. I close this issue since I won't fix it. thanks.

[2016-10-22 13:43] #47 closed

[2016-10-22 13:46] tchemit commented on #45
I can only suggest you to build once before using this plugin. I can't figure out any solution in this project for this problem.
I will close the issue, since I won't fix it. Thanks.

[2016-10-22 13:46] #45 closed

[2016-10-22 13:52] tchemit commented on #53
Something has be done for you eclipse guys (See #17). Hopes it will help you. If not please give us more input to fix you problem. I will close the issue, since I really do not know what to do for you. thanks.

[2016-10-22 13:52] #53 closed

[2016-10-22 13:55] tchemit commented on #42
can you provide a little project for show me the defect please. thanks.

[2016-10-22 16:42] mpkorstanje commented on #21
No problem.

[2016-10-22 20:09] fmarot commented on #47
OK, thanks for the info, I understand better now !

[2016-10-25 07:32] ercpe commented on #41
Should be solved with PR 52 (https://github.com/mojohaus/license-maven-plugin/pull/52)

[2016-10-25 20:55] danielwegener commented on #59
I still think it would be important to be able overwrite certain artifact licenses (and maybe the URLs to these licenses too).

Sometimes you can not simply create a pull request for an ten year old but super common dependency that are not plain github projects but come somewhere out of a big company where you do not even know how to start finding someone who could fix the license and publish a ne

[2016-10-25 21:05] johnament commented on #59
I do plan to raise a PR to this plugin to support overrides.  In addition to your comment, there are cases for dual licensed software.  In both open source and commercial use cases, you need to declare the license in use (read the CDDL/GPL dual license very closely).

I've just been heads down on making my local format correct to know what overrides need to look like.

[2016-11-07 23:30] annatara1 opened #60 "Transitive Dependencies"
Hi,

I was wondering why transitive dependencies do not show up in the html output of executing the third-party-report goal? Thanks!

[2016-11-16 18:06] rchargel opened #61 "Build fails for certificate violation"
I am trying to build the license-maven-plugin, but I get a failed build with an error in the integration test PR-32/pom.xml

The error is as follows:

    [WARNING] Unable to retrieve license for dependency: org.codehaus.mojo.license.test:PR-32-child1
    [WARNING] https://jaxx.nuiton.org/v/latest/license.html
    [WARNING] sun.security.validator.ValidatorException: PKIX path building failed: sun.

[2016-11-18 00:59] cwelton commented on #42
For me the fix was setting `<failIfWarning>false</failIfWarning>`, because the failed build prevented the generation of  the file.

[2016-11-22 20:02] goudine opened #62 "Cannot ignore 'test' scope when generating NOTICE file"
When using the 'maven notice plugin' to generate a NOTICE file containing dependencies, it is not possible to only focus on the 'compile' scope.

A (screenshot) of the maven dependency tree is attached.  From the image it is visible that both 'junit' and 'hamcrest' are dependencies within the 'test' scope.
Both are present within the generate 'NOTICE' file, which is also attached.

Adding command

[2016-11-25 09:55] pgmillon commented on #48
Same issue here, any updates ?

[2016-11-25 10:16] pgmillon commented on #48
I think the issue is related to this: https://github.com/mojohaus/license-maven-plugin/blob/master/src/main/java/org/codehaus/mojo/license/AddThirdPartyMojo.java#L262

[2016-11-25 11:30] #61 closed

[2016-11-25 11:31] tchemit commented on #61
Thanks for the patch @pgmillon .

[2016-11-25 14:52] pgmillon commented on #59
Hey, seems cool. Any updates on this ?

[2016-12-06 14:07] wardvijf commented on #48
@pgmillon @steveash I don't know if this is what you're looking for, but take a look at this PR I just created https://github.com/mojohaus/license-maven-plugin/pull/64

[2017-01-03 12:28] #48 closed

[2017-01-03 14:54] #38 closed

[2017-01-03 14:55] tchemit commented on #38
@heapifyman Ok this is now possible using the new extraFiles parameter. for each of your file, let define the associated comment style to apply.

[2017-01-03 16:35] #40 closed

[2017-01-03 16:37] tchemit commented on #40
@Matze2 Ok I have just implements for (include/exclude) for scopes, groupIds and artifactIds.

Have a look to [it ISSUE-40](https://github.com/mojohaus/license-maven-plugin/tree/master/src/it/ISSUE-40) for configuration.

[2017-01-03 16:39] tchemit commented on #62
@goudine I am not sure you are on the correct project. This project does not have a generate-notice goal.

[2017-01-03 16:39] #62 closed

[2017-01-03 16:47] tchemit commented on #43
@solomax In fact you can change the template to generate the third-party file for this purpose.

Try to set (in properties section)
[code]

[2017-01-03 16:47] #43 closed

[2017-01-03 16:49] tchemit commented on #55
Hi @Martin-Wegner , could you tell me what was the command you executed to get this message ? thanks.

[2017-01-03 16:52] #41 closed

[2017-01-03 16:57] tchemit commented on #42
@solomax Any chance to get a little project prooving the defect ? If not I will probably close this issue.

[2017-01-03 17:01] Martin-Wegner commented on #55
@tchemit sure :)

[code]

[2017-01-03 19:33] tchemit commented on #54
@jieryn For the first pb could you give my a little project explaining the defect. thanks

[2017-01-03 22:59] solomax commented on #42
Will do after Jan, 8

WBR, Maxim
(from mobile, sorry for the typos)

On Jan 3, 2017 23:57, "Tony CHEMIT" <notifications@github.com> wrote:

[2017-01-04 08:56] tchemit commented on #55
Ok I got it now, in fact there is no problem at all with the plugin. The dependency license definition is just not correct.
[code]
So the url points to LICENSE.txt which can not be found. I will close this issue since we can't do anything here.

[2017-01-04 09:37] Martin-Wegner commented on #55
@tchemit arg, sorry, now I remembered what the problem was.

The license URL was wrong and therefore I did this:

I created a licenses.xml file:

[code]

You see, I took the original name from `https://repo1.maven.org/maven2/com/github/jai-imageio/jai-imageio-core/1.3.1/jai-imageio-core-1.3.1.pom`.

And my POM config was:

[code]

The result is:

The reason is the `/` in the `name` tag.

[2017-01-04 10:13] tchemit commented on #55
Ok sorry @Martin-Wegner , I did not see the big picture about this issue. I found how to fix this. Will be in next release 1.12 (a shame I did start the 1.11 release process this morning...).

[2017-01-04 10:14] #55 closed

[2017-01-06 14:44] heapifyman commented on #56
It seems that I was wrong, PR #57 does not fully fix the issue.

I created a new PR #67 with some additional changes. Without those changes the line endings are still changed and git marks every source file as changed, at least in my case.

[2017-01-07 17:26] #10 closed

[2017-01-07 17:27] tchemit commented on #10
Ok, now the file header mojos are thread-safe.

[2017-01-08 08:33] #21 closed

[2017-01-08 08:34] tchemit commented on #21
hi @mpkorstanje , I just write the mojo after a close look at your code, thanks for the idea.

[2017-01-08 08:35] tchemit commented on #60
Hi @annatara1 , could you provide us a little project that prove the defect ? thanks.

[2017-01-08 10:08] #59 closed

[2017-01-08 10:10] tchemit commented on #59
I just code this. You can add extra license information in the ``Override file`` which is a properties file.
 The format of the file is the same than the ``missing file``.

Enjoy.

[2017-01-08 15:17] mpkorstanje commented on #21
You're welcome!

Maybe I'm not interpreting the code right, but if a file doesn't have a copy right header, won't this remove any comment block as long as it comes first?

[2017-01-08 15:50] pethers opened #69 "Problem with aggregate-third-party-report version 1.11/1.12"
Have problem with aggregate-third-party-report running versions 1.11/1.12 worked well with 1.10 and below.

Maven 3.3.9
JDK 1.8 (1.8.0_111)

Running goal "mvn license:aggregate-third-party-report" on https://github.com/Hack23/cia/blob/master/citizen-intelligence-agency/pom.xml get error "java.lang.NoClassDefFoundError: org/apache/maven/doxia/sink/render/RenderingContext"

Full log
`
[INFO] Scannin

[2017-01-08 16:08] solomax commented on #42
Here you are: https://github.com/solomax/multimodule-with-war

[2017-01-09 08:08] tchemit commented on #42
@solomax I tried to build your example project, but got an error :
[code]

[2017-01-09 08:20] solomax commented on #42
Hello @tchemit,
I have fixed the build, it now passes with `license-maven-plugin` disabled in build, and fails with it enabled.
Not sure why :(
As workaround you can `install` with `license-maven-plugin` disabled, then enable it and run again

[2017-01-09 08:27] tchemit commented on #42
Ok now builds is fine. I can see generated third-parties files. Where is the problem ?

[2017-01-09 08:35] solomax commented on #42
Unfortunately 7 months passes since I have tried this plugin :(
If I do remember correctly `src/license/THIRD-PARTY.properties` files are being created for single module project.
Now I can see `**/target/generated-sources/license/THIRD-PARTY.txt` is created for multimodule
I'll try to restore old configuration and double check everything

Thanks for investigating

[2017-01-09 12:13] danielwegener commented on #59
Great stuff! Thanks alot!
Any idea when 1.12 will pop up in central?

[2017-01-09 14:56] tchemit commented on #59
In two days now, the release process requires at least 72 hours.

[2017-01-11 21:24] pethers commented on #69
Sorry, looks like it is working again. Must have messed with my environment somehow.

[2017-01-11 21:24] #69 closed

[2017-01-12 11:42] danielwegener commented on #59
@tchemit Do i understand it correctly that overrides from the `override-THIRD-PARTY.properties` are not applied during license check in 1.12?

I get the following error (with `<failIfWarning>` is `true`):
[code]
Now I have created the file `my-proj/src/license/override-THIRD-PARTY.properties` with the following content:
[code]
... while my project pom has an whitelist entry for `BSD-3-CLAUSE`:
[co

[2017-01-19 19:59] mrdanpsmith opened #70 "Issue using maven license plugin on projects dependent upon antlr 2.7.7"
Hi,

When I attempt to run the third party goal with the optional parameters for generating a third party properties file attached, I get the following error:
[code]

I tracked the root of it using -X and the cause appears to be that under certain conditions, when artifactResolver.resolve is called in DefaultThirdPartyTool.java, the ArtifactNotFoundException does not have an artifact properly set

[2017-01-20 00:11] mrdanpsmith commented on #70
I pushed up a copy of what I did to a clone.

The difference can be seen here. If this fix is acceptable I can create a PR:

https://github.com/mojohaus/license-maven-plugin/compare/4702c2169bebeaa3b2d872e0fb981ce81ba84b03...mrdanpsmith:master

[2017-01-20 07:21] tchemit commented on #70
Hi @mrdanpsmith , could you provide me a pom which shows the defect please. And of course you can submit a MR. I will merge it as soon as I can try it. ;) thanks.

[2017-01-20 07:24] tchemit commented on #21
It will remove the first comment block with start and end process tag.

[2017-01-20 23:42] mrdanpsmith commented on #70
I minimized an example pom that reproduces this problem down to the following:
[code]

The command is:

[code]

Error is:
[code]

I am using Maven 3.0.5, but it is reproducible in other Maven versions as well.

Thanks,

Dan P. Smith

[2017-01-23 14:06] viahl opened #71 "Global third party properties"
Proposal for Change.

After looking thru and working a little with the License plugin. There is a feature that is missing.
When working with a lot of different project, it is time consuming to maintain the THIRD_PARTY.txt.

It would be great if it would be possible to have an global static GLOBAL_THIRD_PARTY.properties that the plugin could
read in. Which already have preconfig different plugins a

[2017-01-23 17:41] harschware opened #72 "StringIndexOutOfBoundsException in v1.12 of plugin"
For some reason I get index out of bounds exception from plugin.  Let me know if there is any additional info I can provdie.

The error came from running `mvn license:remove-file-header` immediately after successfully running `mvn license:update-file-header` which changed 27 of my source files.  The remove-file-header goal does not remove the header previously applied.

[code]

[2017-01-25 12:02] Jessevanbekkum opened #73 "Class not found on mvn license:aggregate-third-party-report"
When I try to run `mvn license:aggregate-third-party-report` I get a build failure, with the following error:
`
Failed to execute goal org.codehaus.mojo:license-maven-plugin:1.12:aggregate-third-party-report (default-cli) on project ing-securities: Execution default-cli of goal org.codehaus.mojo:license-maven-plugin:1.12:aggregate-third-party-report failed: A required class was missing while execu

[2017-01-25 22:22] harschware commented on #72
I think this is a critical bug.  The issue is that the update-file-header repo doesn't re-apply headers in all cases (I tested changing the organization/name element in the parent pom).  The remove-file-header goal will work for some portion of the files and the fail with the exception.  Subsequent runs produce the exception without making through any additional headers, so you can't just run it a

[2017-01-27 14:32] Matze2 opened #74 "NullPointerException in license-maven-plugin:1.12:add-third-party"
It seems to happen when the plugin tries to resolve a non-existing third-party properties of an artifact.

[code]

I debugged a little bit and in some cases resolveArtifact in DefaultThirdPartyTool:749 returns an empty file and in some cases it throws ArtifactNotFoundException.
In the latter case, the field "artifact" in ArtifactNotFoundException is null, only the single fields artifactId, groupId

[2017-01-27 14:39] Matze2 commented on #74
I looked in my local repository.
There are artifact entries with an empty xyz-third-party.properties file and entries without a third-party.properties.
The latter causes the NPE.

[2017-02-01 19:15] mrdanpsmith commented on #74
I think this is a duplicate of or related to:

https://github.com/mojohaus/license-maven-plugin/issues/70

[2017-02-01 21:29] Matze2 commented on #74
Thank you for your offer, but we already work with a patched version of 1.9.
The goal is to use an official version again.

[2017-02-09 12:53] simonklb opened #75 "License URL in third-party file"
It would be nice to have the possibility to include more than just the license name in the third party file. Any chance that the license URL could be made available to the template file as well?

[2017-02-14 15:57] simonklb commented on #45
I'm facing the same issue, I don't think this should be discarded as a minor issue though. For example, it's quite common to have automatic builds on a CI system where the project is being built for the first time. It's not really reasonable to make the solution be "manual builds without the plugin enabled first and then build normally".

My initial thought when looking at the options was that the

[2017-02-17 08:36] eirikb opened #76 "Generate licenses.xml from license:download-licenses without downloading any licenses"
Is it possible to get only the file generated by [LicenseSummaryWriter.writeLicenseSummary](https://github.com/mojohaus/license-maven-plugin/blob/master/src/main/java/org/codehaus/mojo/license/utils/LicenseSummaryWriter.java#L52) without having to download any licenses?
Or to generate a similar file?

There is an [offline](http://www.mojohaus.org/license-maven-plugin/download-licenses-mojo.html#of

[2017-03-02 09:04] danielwegener opened #77 "Override the identified during license-check"
As discussed in #59 it is sometimes necessary to override the license for a certain dependency. The fix created for #59 however does this only for the license-report. This overwrite should also be applied during license checks.

Example:

I get the following error (with `<failIfWarning>` is `true`):
[code]
Now I have created the file `my-proj/src/license/override-THIRD-PARTY.properties` with the f

[2017-03-03 15:43] jennyindcs opened #78 "A required class was missing while executing org.codehaus.mojo:license-maven-plugin:1.12:update-file-header: org/apache/commons/logging/LogFactory"
I tried to add license header to a Java project using the license-maven-plugin in the eclipse+maven environment.

The configuration of the license-maven-plugin in the pom.xml file looks like:

[code]

but I got the following error:

[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time: 1.378 s
[INFO] Finished at: 2017-03-03T15:25:02

[2017-03-08 11:09] eirikb commented on #76
By using the `add-third-party` goal and using Regexp we are able to parse the _THIRD-PARTY.txt_-file and achieve a similar solution.

We might be doing something wrong, but we can't see any way to generate the summary XML file beside using the `download-licenses` goal.
Proposing this PR as a possible fix:
https://github.com/mojohaus/license-maven-plugin/pull/79
It changes the `offline` flag from c

[2017-03-22 13:07] psakar opened #80 "Allow to sort generated licenses.xml by groupId and artifactId"
Add configuration option license.sortByGroupIdAndArtifactId of type boolean with default value false to preserve current behavior. When set to true, artifacts in generated licenses.xml are sorted by groupId and artifactId

[2017-03-22 13:07] psakar commented on #80
I'll provide PR

[2017-04-13 07:03] tchemit opened #84 "Can't generate third party report if a module contains a remote repository"
When generating the aggregate third party report, actually onle the remote repositories of the root module are used, rather than the remote repositories of each module.

[2017-04-13 07:20] tchemit opened #85 "Error if artifact not found"
When trying to obtian the third part descriptor on a none existant artifact, we got a NPE, we can then use any temp file instead of trying to get a match with a null artifact.

[2017-04-13 07:23] #84 closed

[2017-04-13 07:23] #85 closed

[2017-05-09 13:30] jahlborn commented on #75
Yes, this would be very useful especially for "custom" licenses.  Today, we are just including the url as part of the name, e.g. "project--1.0=Custom License - http://project/license".  Maybe the license plugin could parse that and split it into name and url info?

[2017-05-10 08:54] davidkarlsen opened #86 "aggregate-add-third-party not threadsafe"
The aggregate-add-third-party is not threadsafe, and forces me to run builds with --builder singlethreaded which is no fun.
Could it be made threadsafe?

http://www.mojohaus.org/license-maven-plugin/aggregate-add-third-party-mojo.html

[2017-05-12 16:20] jahlborn opened #88 "Allow license selection when project includes multiple licenses"
When running the third-party goal and pulling in a dependency which allows multiple license choices, it would be nice if you could "choose" one the licenses to be the one displayed in the output file (since that is what you are doing anyway when you include the project).

It seems like the "overrideFile" would potentially provide this functionality, but it doesn't seem to work that way in practice

[2017-05-18 11:04] tjuchniewicz commented on #74
Works for me using 1.10.

[2017-05-18 12:40] Matze2 commented on #74
And? The report was for version 1.12.

[2017-05-18 12:48] tjuchniewicz commented on #74
I wanted only to confirm that possible workaround: downgrade to 1.10 fix this issue.

[2017-05-18 15:49] mrdanpsmith commented on #74
Yes; 1.10 works.

[2017-06-01 07:16] MacGyves commented on #73
This also happens when executing mvn license:third-party-report.

The workaround about adding doxia-core as plugin dependency worked for me, too.

[2017-06-10 08:02] #72 closed

[2017-06-11 06:23] tchemit commented on #80
Doen by #81 .

[2017-06-11 06:23] #80 closed

[2017-06-11 06:24] tchemit commented on #76
Fix by #79.

[2017-06-11 06:24] #76 closed

[2017-06-11 06:32] #70 closed

[2017-06-11 06:32] tchemit commented on #70
Ok I had a closer look to your solution and this is a good to go :).
thanks for the patch.

[2017-06-11 06:32] tchemit commented on #74
Ok fix by #70 (thanks for the report).

[2017-06-11 06:32] #74 closed

[2017-06-11 06:37] tchemit commented on #60
Something was added to remove transitive dependencies of the excluded artifacts (See #82), is this could help you ?

[2017-06-20 14:03] bannmann commented on #73
I have the same issue, and the workaround "fixes" the problem.

[2017-06-29 13:19] heapifyman opened #92 "update-file-header changes file encoding"
We have a file in `UTF-8` encoding with special character German `ß` in javadoc.

We are using both Linux and Windows machines for development.

Everything works fine on Linux but when running `update-file-header` on a Windows machine, it changes the file encoding from `UTF-8` to Windows default, which screws up the `ß`, which in turn leads to a failure when creating the javadoc.

`license-maven-p

[2017-06-30 11:41] #92 closed

[2017-06-30 11:42] tchemit commented on #92
@heapifyman , Ok I just fix it, I will deploy a snapshot can you check the fix is ok form you ?

[2017-06-30 11:46] tchemit commented on #42
Any update on this ? @solomax

[2017-06-30 11:48] tchemit commented on #92
Snapshot 1.14-SNAPSHOT is ready to test :).

[2017-06-30 11:50] tchemit commented on #73
Hi guys,

Which version of maven-site-plugin ae you using ?

[2017-06-30 11:55] tchemit commented on #86
@davidkarlsen , I just make it so.
I just deployed a snapshot can you test it please ?
thanks.

[2017-06-30 12:02] tchemit commented on #78
@jennyindcs have you try to delete the repository directory ? and then relanch your build ?

[2017-06-30 12:02] #78 closed

[2017-06-30 12:08] solomax commented on #42
Hello @tchemit, looking at it right now
sorry for delay :(

[2017-06-30 12:10] tchemit commented on #75
@simonklb @jahlborn which file are you talking about ?

the missing license file ? (THIRD-PARTY.properties).

Yes it would be a great idea. The best to thing to do would to use here one of the predefined license name (named a gplv3, agpl, ...) this name is related to a full definition of a license .

Do you get me ?

[2017-06-30 12:24] solomax commented on #42
@tchemit just have updated quickstart (have added library with no license)
got following
[code]
from Maven but no `src/license/THIRD-PARTY.properties` is generated

[2017-06-30 12:25] tchemit commented on #42
what command did you execute ?

[2017-06-30 12:25] solomax commented on #42
`mvn clean install`

[2017-06-30 12:25] tchemit commented on #42
whic version of license-plugin ? should be 1.13

[2017-06-30 12:25] solomax commented on #42
the latest

[2017-06-30 12:25] tchemit commented on #42
can you give me your pom ?

[2017-06-30 12:26] solomax commented on #42
https://github.com/solomax/multimodule-with-war/blob/master/pom.xml

[2017-06-30 12:30] tchemit commented on #42
Ok first, i add to remove plugin invocation a first time to build the project.
Then I just readd license plugin invocation and run a mvn install.

And everything was ok.

[2017-06-30 12:31] tchemit commented on #42
Ok now I see you warning

[2017-06-30 12:42] tchemit commented on #42
Ok I just get it. The third party missing is not generated because your dependecy has a license, but this license has just *no name*.
you can see in the generated THIRD-PARTY.txt file, you will find out the license for your dependency (and his license url).

The only thing I cahnge change is the label of the warning :
``You are using a license for ... with no name``

and I won't generate a missing

[2017-06-30 12:46] #42 closed

[2017-06-30 12:47] solomax commented on #42
Ok

[2017-06-30 12:47] solomax commented on #42
Thanks

[2017-06-30 12:47] tchemit commented on #42
you re welcome :)

[2017-06-30 12:57] tchemit commented on #45
@simonklb There is plenty of solutions I think.

What about to put your license plugin invocation in a profile and execute this profile only if the last module /target exist ? or in a maven local repository ?
This should works, no ?

[2017-06-30 13:08] tchemit commented on #45
@solomax
I can recommand you to us something like this:

[code]

[2017-06-30 13:09] simonklb commented on #45
I believe we solved this by adding the license plugin to the build of certain sub-modules rather than in the root pom.

[2017-06-30 13:10] tchemit commented on #45
The solution I just describe above is working, still this is a nice gentle hack :).

[2017-06-30 13:16] simonklb commented on #45
Oh yea, and we used `add-third-party` only, and not `aggregate-add-third-party`.

[2017-06-30 13:20] solomax commented on #42
@tchemit just have added library with no license to https://github.com/solomax/multimodule-with-war
*.properties file is not being generated :(

[2017-06-30 13:21] solomax commented on #43
@tchemit just have tried and it doesn't help :(
Are there any other options?

[2017-06-30 13:23] simonklb commented on #75
@tchemit Sorry, I'm not really following you here. What we want is to be able to link to the license via an URL. This is mostly needed for custom licenses, like @jahlborn mentioned. For well-known licenses there is no problem for people to find them online.

[2017-06-30 13:28] solomax commented on #43
@tchemit `excludedScopes` option also would be helpful

[2017-06-30 13:38] solomax commented on #42
@tchemit
Just have added `THIRD-PARTY.properties` to the root of multimodule project
have specified name as follows:
[code]
and still getting
[code]
How to eliminate this?

[2017-06-30 13:58] jahlborn commented on #75
To confirm, yes we are referring to the THIRD-PARTY.properties file.  And to reiterate what @simonklb said, this is desirable for custom licenses, e.g. jdom http://www.jdom.org/docs/faq.html#a0030 .

[2017-07-03 03:43] solomax commented on #42
I believe this issue need to be reopened

[2017-07-03 03:43] solomax commented on #43
I believe this issue need to be reopened

[2017-07-03 08:24] tchemit commented on #43
@solomax what happened when you tried with the other template ?

[2017-07-03 08:26] solomax commented on #43
I have added
[code]
nothing changed
It seems artifacts are being grouped by module, final grouping is missing

[2017-07-03 08:28] tchemit commented on #43
Hum, let me check that again.

[2017-07-03 08:33] tchemit commented on #43
Ok in fact `license.filteTemplate` is to put in properties section, toehrwise in plugin configuration you must use `filteTemplate` and it produces this result :

List of third-party dependencies grouped by their license type.

    Apache License, Version 2.0:

        * Apache Commons Lang (org.apache.commons:commons-lang3:3.5 - http://commons.apache.org/proper/commons-lang/)
        * multimodule

[2017-07-03 08:33] tchemit commented on #43
@solomax Is it ok for you ?

[2017-07-03 08:35] tchemit commented on #43
Plugin configuration to use:
``
<plugin>
        <groupId>org.codehaus.mojo</groupId>
        <artifactId>license-maven-plugin</artifactId>
        <version>1.13</version>
        <executions>
          <execution>
            <id>download-licenses</id>
            <goals>
              <goal>aggregate-add-third-party</goal>
            </goals>
            <configuration>
              <useMissin

[2017-07-03 08:41] tchemit commented on #42
Hi @solomax , in fact I just check again for this new weird license library (jaxen), and once again there is a license attached to this gav, but the license has no name.

Using the THID-PARTY.properties won't have any effect on this one since, it only helps when there is *NO* license attached to a gav.

To make it ore clear, I just change the message in log :
[code]

Ok to you ?

[2017-07-03 09:16] solomax commented on #43
@tchemit just have checked
works as expected, thanks for your help!

Should I file separate issues regarding `excludedScopes` and `no-fork`?

I have multiple
[code]
And I belive `no-fork` mode might help a lot

[2017-07-03 09:17] solomax commented on #42
@tchemit Is there any option to override License name?

[2017-07-03 09:18] tchemit commented on #42
Nope, but you can addue the feature, I will see how to implement it ;)

[2017-07-03 09:24] tchemit commented on #43
Yes please do separate issues :)

[2017-07-03 09:34] solomax commented on #77
`aggregate-add-third-party` goal also would benefit from ability to override wrong/incomplete licenses

[2017-07-03 09:37] solomax opened #93 "no-fork mode for aggregate-add-third-party"
I have multiple
[code]
And I believe no-fork mode might help a lot

[2017-07-03 09:38] solomax opened #94 "excludedScopes option is absent for aggregate-add-third-party"
I believe excludedScopes option is must have for aggregate-add-third-party goal

Could you please add it?

[2017-07-03 09:38] solomax commented on #43
Done, Thanks!

[2017-07-03 09:40] solomax commented on #42
I believe it is mix of #39 and #77 but for aggregate-add-third-party goal :)
I can file separate issue, should I?

[2017-07-03 12:40] tchemit commented on #42
Again yes :)

[2017-07-03 18:15] dhalperi commented on #73
Hi @tchemit I am getting this error with version 1.13:

[code]

[2017-07-03 18:54] dhalperi opened #95 "license:aggregate-add-third-party -- is aggregateMissingLicensesFile used?"
The default value (of `${project.basedir}/THIRD-PARTY.properties`) seems good, and I've created that file with the right content. However, it does not seem to be used.

[code]

* when I don't set `-Dlicense.useMissingFile`, I get warnings about unknown licenses.
* when I do set it, I get the same warnings, but it also still creates per-module `src/license/THIRD-PARTY.properties` files.

Here's my

[2017-07-03 18:54] dhalperi commented on #95
The property seems to be defined by never used in this repository: https://github.com/mojohaus/license-maven-plugin/search?utf8=%E2%9C%93&q=aggregateMissingLicensesFile&type=

[2017-07-04 05:24] solomax opened #96 "override license in aggregate-add-third-party goal"
It would be great to have the ability to override licence name per dependency and add license text (similar to #39 and #77)

[2017-07-04 05:24] solomax commented on #42
done!
Thanks!

[2017-07-04 10:46] MacGyves commented on #73
I'm on maven 3.3.9 and license-maven-plugin 1.12

[2017-07-07 18:27] ptahchiev opened #97 "Add failOnMissing and failOnBlacklisted instead of failOnWarning"
Hey guys in my build I have set-up `failOnWarning` to `false` because maven brings dependencies with missing licenses like these:
[code]
However I have blacklisted the AGPL license and I really want to build to fail if I'm using dependency with this license. With the current setup I cannot do that.

That's why I'm proposing two new properies:

 - `failOnMissing` - fails the build if dependencies w

[2017-07-12 10:20] qdoobp commented on #93
A no-fork mode for `aggregate-add-third-party` would help us too. We are unable to build with the License Plugin because it forks and tries to build modules for which the internal dependencies cannot be resolved. This is a big issue for us.

[2017-07-13 07:19] tpeyrard commented on #94
In fact it works although it's not documented.
`mvn clean license:aggregate-add-third-party -Dlicense.excludedScopes=test`
Make sure to prefix excludedScopes with `license`

[2017-07-13 07:26] solomax commented on #94
Unfortunately it can't be used in `<configuration>` inside pom.xml :(

[2017-07-13 07:27] tpeyrard opened #98 "outputDirectory doesn't aggregate files when used with license:aggregate-add-third-party"
When using `outputDirectory` with `aggregate-add-third-party` goal I thought it would aggregates THIRD-PARTY.txt files of each submodules in one single file, in the specified directory.

`mvn clean license:aggregate-add-third-party -Dlicense.excludedScopes=test -Dlicense.outputDirectory=D:\tmp`

In `D:\tmp` there is a THIRD-PARTY.txt file that contains the licenses of the first module only.

Is it

[2017-07-13 07:29] tpeyrard commented on #94
I wanted to move all the command line options in a configuration tag today. I guess I'll do something else and stick to my command line arguments for the moment :)

[2017-07-13 14:25] tchemit commented on #94
@Thomas, You can use it in the properties section :```<properties><license.excludedScopes>test</license.excludedScopes></properties>```--Enjoy and ShareTony Chemit

            On juil. 13 2017, at 9:29 am, Thomas <notifications@github.com> wrote:

              I wanted to move all the command line options in a configuration tag today. I guess I'll do something else and stick to my command line a

[2017-07-13 14:27] tchemit commented on #94
@tpeyrard , yes it is not documented, in fact it calls the none aggregate goals, so all properties defined in none aggregate mojo should work here!

I will still add documentation about this point. thanks

[2017-07-13 14:32] tchemit commented on #98
@tpeyrard  : Nope that is NOT normal. I will have a look...

[2017-07-14 04:15] solomax commented on #94
Hello @tchemit,

unfortunately adding this
[code]

doesn't help, test dependencies are being included into report

example: https://github.com/solomax/multimodule-with-war

[2017-07-14 19:40] tchemit commented on #94
Hum @solomax , I will have a look then (I thought it would work...)

[2017-07-18 13:04] tchemit opened #100 "Bad plugin version in one it"
The plugin version was hardcoded to 1.13-SNAPSHOT, replace it by *@project.version@*.

[2017-07-18 13:05] #100 closed

[2017-07-20 09:50] maggu2810 commented on #92
I am not using a Windows machine myself but some co-worker.
There is a degree character (`°`) in a source file.
Without the change (fd20eb4294c00b325cd1d422d2c942c678e96870) the plugin changes the character and the compiler will break because of an invalid UTF-8 encoding.
With the change (fd20eb4294c00b325cd1d422d2c942c678e96870) the plugin changes the character but the compiler does not complain

[2017-07-20 13:51] heapifyman commented on #92
@tchemit  Sorry for the late reply, I was on holidays.

Anyway, I just tested on a Windows machine and see the same behaviour as @maggu2810 :
with version 1.14-SNAPSHOT the build (and javadoc generation) succeeds but the character `ß` is still changed.

[2017-07-28 12:15] comdiv opened #103 "Add *.kt (Kotlin) extension to JavaFileHeaderTransformer"
For now i cannot update headers for kotlin files - only with custom rebuild

[2017-07-28 12:49] #103 closed

[2017-08-18 11:31] 6d6566 commented on #93
+1

I need this switch as well. I can not resolve dependencies to modules in a multi-module project.

[2017-08-18 19:02] davidkarlsen commented on #86
It's more that I got a concurrentModificationException AFAIR - not simply the flag.

[2017-08-18 19:22] davidkarlsen commented on #86
I get this:
[code]
which I do not get if I run --builder singlethreaded

the only change is:
[code]
haven't dug into the plugin code to see whats going on.

[2017-08-18 20:01] davidkarlsen commented on #86
Yes, also with 1.4.15-SNAPSHOT I will get "Could not create directory" at random modules if using multithreaded builder.

[2017-08-20 12:21] tchemit commented on #98
I just introduce a new parameter **license.aggregateOutputDirectory** for this purpose.

I also remove the outputDirectory from the aggregate mojo.

[2017-08-20 12:22] #98 closed

[2017-08-20 13:04] tchemit commented on #97
Nice idea, I will implement it, thanks.

[2017-08-20 13:24] tchemit commented on #97
I just change the name of **failIfMissing* into **failOnMissing**.

[2017-08-20 13:24] #97 closed

[2017-08-20 13:32] tchemit commented on #94
@solomax , I just try and it works perflecty. I had a look to your project and I just saw you put the properties section into the plugin configuration section, that's not the good place.

The properties section is shared by all the project, See https://github.com/solomax/multimodule-with-war/pull/1.

I close this issue since it works :).

[2017-08-20 13:32] #94 closed

[2017-08-20 13:34] tchemit commented on #93
Let's have a look to this new feature :).

[2017-08-20 15:16] solomax commented on #94
Thanks for the help with setting this up
I would expect to specify plugin properties at the plugin configuration section ..... But it's better than nothing :)

[2017-08-20 17:40] tchemit commented on #94
With refactoring of aggregator mode (with no fork), this will possible in plugin configuration section.

[2017-08-21 06:58] #93 closed

[2017-08-21 07:00] tchemit commented on #95
@dhalperi , this parameter was just renamed to **missingLicensesFile** (see #93).
I close this issue since it will be resolved by #93.

[2017-08-21 07:00] #95 closed

[2017-08-21 07:01] tchemit commented on #93
I just alos deprecated **aggregateMissingLicensesFileArtifact**, use now **missingLicensesFileArtifact** and
**aggregateMissingLicensesFile**, use now **missingLicensesFile**

[2017-08-21 09:09] tchemit commented on #96
@solomax , this feature should be ok now with work in #93.

[2017-08-21 09:09] #96 closed

[2017-08-21 10:17] #73 closed

[2017-08-21 10:25] tchemit commented on #71
Hi @viahl , this feature already exists :).

You can define a maven artifact with a missing third party file, and then expose it with type *license.properties***.

You can then include this dependency in the dependencies of the plugin.

I will close this issue since the solution exists. Call me back if you have any trouble while setting this up.

[2017-08-21 10:25] #71 closed

[2017-08-21 20:46] tchemit commented on #60
I just try it out on some projects, and I get all transitives dependencies.
I will close this issue. Feel free to give us more info about your problem...

[2017-08-21 20:46] #60 closed

[2017-08-21 20:48] tchemit commented on #54
@jieryn , any news about this problem ? If no response in the next weenk, I will close this issue since I really don't know what to do...

[2017-08-21 20:51] tchemit commented on #77
As said by @solomax , add-third-party and aggregate-add-third-party mojo use this mecanism, could you give us a little project that prove the defect @danielwegener , thanks.

[2017-08-21 20:53] tchemit opened #105 "Add .jcss extension in headers mojo"
***.jcss** are css files used by jaxx project. They should be treated as java comment style.

[2017-08-21 20:54] #105 closed

[2017-08-23 14:51] solomax commented on #93
Hello @tchemit, Thanks for the fix!
Unfortunately I'm unable to test it :( could you point me to the repository snapshots are published?

[2017-08-23 14:53] solomax commented on #96
Hello @tchemit, would you be so kind to provide small example?
I would love to finally get something like this: https://github.com/apache/openmeetings/blob/master/LICENSE#L375

i.e.
jars
licence name(s)
Licence text

Thanks in advance!

[2017-08-23 16:02] tchemit commented on #93
there is a release in run :)

See https://groups.google.com/forum/#!topic/mojohaus-dev/NXX0Ci0WLPs to get staging repository

[2017-08-25 09:11] comdiv opened #106 "Add lineSeparator parameter to configuration"
Now we are building code on mix Windows/Linux dev environment, so license plugin cause invalid delta generating CRLF on one system and LF on Linux

We want to specify that we have to use only LF

Suggest to use lineSeparator in configuration with default value from System.getProperty

[2017-08-27 03:29] jessefarinacci commented on #54
I hit the same issue, but the workaround provided ..worked. Think it is safe to close this as a really really odd case when using custom licenses. I vote let it close.

[2017-09-05 08:50] solomax commented on #93
Hello @tchemit, sorry for the late testing (I had no time before :((( )
It seems 1.14 breaks multi-module projects :((

Quickstart: https://github.com/solomax/multimodule-with-war
it works as expected in case `mvn clean install` is called
and fails with `Compilation failure` in case `mvn clean package -Pgenerate-third-party` is called

Could you please check it?

[2017-09-05 14:43] ragadeeshu commented on #106
I just want to chime in, I am also facing the same problem, our builds has a tendency to fail on windows because of this.

[2017-10-06 04:33] solomax commented on #93
Hello @tchemit, could you please fix this plugin for multimodule project?

[2017-10-09 22:03] v1v opened #107 "Is multimodule working when using aggregate-add-third-party?"
For some reason when I use 1.14 version it skips the multimodule as you can see below

[code]

while if I use 1.13 it works as expected
[code]

Someone else already posted this issue: https://github.com/mojohaus/license-maven-plugin/issues/93 and I was able to reproduce in my multimodule project.

Any hints?

Thanks

[2017-10-10 13:39] v1v opened #109 "Travis oraclejdk7 build seems to be broken (environmental issue)"
JDK: oraclejdk7 build seems to be corrupted

[code]

Further details: https://travis-ci.org/mojohaus/license-maven-plugin/jobs/286028333#L455-L459

[2017-10-11 06:21] renflo opened #110 "Add support for quiet to add-third-party"
Hi,
I cannit find out how to silence warnings when the add-third-party goal is run.

I have a project with a dependency lacking license information. When add-third-party runs on this project i creates a warning. So far so good. As it’s not acceptable i add the failOnWarning to be sure that the build breaks on missing licenses.

Then i fix. I add a missing file (THIRD-PARTY.properties) and declare

[2017-10-11 09:51] renflo opened #111 "Missing files can be attached but never seem to be reused"
I have a project set up like this:

* my-mod-a depends on 3rd-party-mod-without-license
* my-mod-b depends on my-mod-a

When my-mod-a is built the “missing file” i added gets attached; i can find the it in the maven repository.

But when i build my-mod-b it asks me once more to crate a “missing file” for the transtive dependency of my-mod-a which are already fixed and have an artefact deployed for

[2017-10-29 10:28] koen-serneels opened #112 "Toggle delimiter usage"
Hi. When the plugin adds licenses, delimiters are inserted so the plugin knows where to update the license in case of updates. Afaik there are 3 configuration options to change the delimiters but not to disable them altogether. Personally I find the delimiters disturbing and unnecessary. For example, when adding the license before the package declaration or between package and imports, it make sen

[2017-12-01 10:37] pettermahlen opened #114 "Extra whitespace in Apache license text"
I'm having a problem using this plugin together with https://github.com/coveo/fmt-maven-plugin. The latter (based on https://github.com/google/google-java-format) mandates that there should be no trailing white space characters on lines, whereas the Apache license file adds that. So either the formatting check breaks, or the license check breaks (because the license plugin requires the extra white

[2017-12-01 10:39] pettermahlen commented on #114
Just noticed #99, which seems to address the same issue. I saw the builds are failing, but don't understand why. Is this something I could help out with?

[2017-12-14 13:16] diegosalvi commented on #77
[defect-77.tar.gz](https://github.com/mojohaus/license-maven-plugin/files/1559278/defect-77.tar.gz)

Mini project attached.

Run `mvn install` on it.

* It has a single dependency with license "Apache License, Version 2.0" (merged as AL v2 just to have small strings but it's the same without merges).
* It define a license override for its only dependency to dual "OVERRIDDEN" and "UNKNOWN"
* It acc

[2017-12-14 13:30] diegosalvi opened #115 "Cleaner third-party aggregate on multi license projects"
Original grouped third-party file third-party-file-groupByLicense.ftl is annoying when multilicensed libs kicks in (each is listed multiple times).

A new third-party file with a cleaner listing could be helpful.

Like:

[code]

[2018-01-11 07:10] Matze2 opened #117 "Possibility to exclude/include certain artifact types"
Our case are BOM dependencies which group dependencies together. These are there just for convenience, but are not important when it comes to the final assembly which includes all "relevant" licenses.
Currently it is not possible to filter for specific types, in our case to exclude BOMs, e.g.
[code]

I can provide a PR in the next days for that.

[2018-01-17 10:12] v1v commented on #109
https://github.com/travis-ci/travis-ci/issues/7964

[2018-01-24 11:59] #109 closed

[2018-01-24 12:00] tchemit commented on #114
@pettermahlen Hi, I know that issue is a pain in the ass, I will ahev a look at it soon

[2018-01-24 15:03] v1v opened #121 "Broken TestIT"
As far as I see the current PRs are broken since http://www.opensource.org/licenses/cpl1.0.txt is not reachable and two ITs are failing over and over:
- ISSUE-40/postbuild.groovy
- download-licenses-basic/postbuild.groovy

As you can see below:

[code]

and
[code]

[2018-01-24 15:32] tchemit commented on #121
I just send a message to the site.

[2018-01-25 12:30] Captain-P-Goldfish commented on #111
the problem is in AddThirdPartyMojo.java  if no missing dependencies exist the missing file gets deleted.
If you set the missingFile to an absolute path and you execute a build on your project that consists of several modules and any module does not have any missing dependencies then the file gets deleted and is therefore not reused. The problematic code is this:

       `if ( !unsafe && isUseMiss

[2018-01-26 08:37] #121 closed

[2018-02-02 22:37] bnese opened #124 "Remove constraint that require thirdPartyFilename to end with *.txt?"
Hi,

I'm not sure if this behavior is a bug or by design, but if the filename don't end with .txt it will not be added as a resource. The file exists in target/generated-sources/license-folder but not in the jar-file. If I add ".txt" to the end of the filename then the file is included in the jar-file.

If this behavior is correct then the documentation (http://www.mojohaus.org/license-maven-plugi

[2018-02-15 13:41] matrixik opened #125 "SPDX license identifiers"
Would be nice to have option to output file with licenses using they SPDX identifier.

More info:
https://spdx.org/
https://spdx.org/licenses/

[2018-03-03 21:47] #117 closed

[2018-03-26 12:31] daudazimkhan opened #126 "aggregate-add-third-party for version 1.14 and 1.15 not working"
I tried to run the following:

- mvn org.codehaus.mojo:license-maven-plugin:1.12:aggregate-add-third-party
- mvn org.codehaus.mojo:license-maven-plugin:1.13:aggregate-add-third-party
- mvn org.codehaus.mojo:license-maven-plugin:1.14:aggregate-add-third-party
- mvn org.codehaus.mojo:license-maven-plugin:1.15:aggregate-add-third-party

But only 1.12 and 1.13 worked. For 1.14 and 1.15 the following e

[2018-03-26 13:35] tchemit commented on #126
Hi @daudazimkhan , could you give us a project to confirm the defect. Thanks

[2018-03-26 14:01] daudazimkhan commented on #126
Hi @tchemit, thanks for looking into this. You can reproduce this with any maven project e.g. [this one](https://github.com/diegoneuralo/maven.git). Clone it and remove the target directory. Then try running the following:

- mvn org.codehaus.mojo:license-maven-plugin:1.13:aggregate-add-third-party

The above is for **v1.13** and it **works**. Now try it for v1.15 by running the following:

- mvn

[2018-03-26 14:36] tchemit commented on #126
@daudazimkhan , the project you gave me is not a multi-module project, so you can't use the aggregate mojo on it.

Can you give me another example project? thanks.

[2018-03-26 19:11] #126 closed

[2018-03-26 19:36] #106 closed

[2018-03-26 19:36] tchemit commented on #106
I guess you are talkin about license update header mojo ?
I just add a new property **lineSeparator** to specify what you need. It is use then while generating license header.

[2018-03-26 19:38] tchemit commented on #106
@comdiv, @ragadeeshu I just deployed a snapshot with this new feature.
Could you please confirm it is working fine for you ? If you need some help to use snapshot, let me know I can help.
Thanks.

[2018-03-27 07:24] tchemit opened #127 "Let's use ResolutionScope.TEST in mojos"
Get more dependencies :) Filter them if you don't want them after all.

[2018-03-27 07:24] #127 closed

[2018-04-02 08:12] comdiv commented on #106
Nice think it closes

[2018-04-06 10:26] tchemit commented on #106
@comdiv have you try the snapshot ? I will start a release 1.16, could you please test in the staging repository when it will be ready ?
If you don't know how to do this, I can help, it is quite simple. thanks

[2018-04-06 13:08] tchemit commented on #106
@comdiv here it is :) Release 1.16 is in vote (see https://groups.google.com/d/topic/mojohaus-dev/xZoobcYx-n8/discussion)

[2018-04-14 16:32] xeagle2 opened #128 "Configuration property 'trimHeaderLine' doesn't take any effect."
Hi there,

Used version of the license-maven-plugin is 1.16.

When the 'trimHeaderLine' is set, it doesn't take any effect because every xxxTransformer implementation inherits AbstractFileHeaderTransformer where

[code]
is assigned to this.**emptyLineAfterHeader** **instead of** this.**trimHeaderLine**.

It looks like an issue which would be useful to be resolved.

Thank you,

[2018-04-14 18:40] xeagle2 opened #129 "'remove-file-header' goal leaves the '\n' character, which should be avoided."
Hello there,

When the RemoveFileHeaderMojo removes the license it calculates the lastChar of '\n'

[code]

A few lines lower there is a concatenation

`String contentWithoutHeader = content.substring( 0, firstIndex ) + content.substring( lastIndex );`

where **substring** method takes the lastIndex inclusive which is '\n'.

[2018-04-19 06:54] TorstenKruse opened #132 "licenseMergesFile should also support remote urls"
At the moment "licenseMergesFile" only supports files from local file system.

It would be great if also remote urls were supported like it is done for "missingFileUrl". Even a new parameter "licenseMergesFileUrl" like it was done for "missingFileUrl" would be fine

Then we would be able to consolidate the license merges for all projects in one file which could be used from all projects.

And of c

[2018-04-19 10:24] tchemit commented on #132
Good idea, I will add a **licenseMergesUrl** and deprecates the **licenseMergesFile**.

[2018-04-19 14:55] #132 closed

[2018-04-19 14:57] tchemit opened #133 "Upgrade Java level to 7."

[2018-04-19 14:59] tchemit opened #134 "Can't use any url in missingFileUrl"
The actual code is:
[code]
which fails if you use for example a file url.

[2018-04-19 15:49] TorstenKruse commented on #132
Great. Thanks a lot.

[2018-05-16 09:16] gevegab opened #135 "Content wrongly truncated when adding header after package declaration"
Hello

I have a java file that has a "package" and "import" on the same line, something like this:

`package org.example.test; import java.io.File;`

When the file is processed by the "update-file-header" goal, the content after the package declaration (the import) is wrongly truncated, and I obtain something like this (that doesn't compile any longer):
[code]

This is a problem to me because the

[2018-05-26 21:05] srdo opened #136 "AbstractAddThirdPartyMojo.consolidate logs warnings for dependencies even if a THIRD-PARTY.properties describes them"
The checkUnsafeDependencies method logs warnings if the unsafeDependencies set isn't empty https://github.com/mojohaus/license-maven-plugin/blob/70b96dfd6db8b5bde085567ea3cb2ef1bdef2d83/src/main/java/org/codehaus/mojo/license/AbstractAddThirdPartyMojo.java#L876

This is fine and expected when this method is called after missing file files/artifacts have been taken into account, since the plugin sh

[2018-06-05 13:25] reitzmichnicht opened #138 "Allow splitting of licenses"
Projects often declare 2 different licences as single license.

For Example:
CDDL+GPLv2

Would be great to merge this to 2 different licenses.

Currently I have
[code]

But I need this which is not allowed:
[code]

[2018-06-06 14:48] digulla opened #139 ""Can't find license-maven-plugin" in 1.16 if plugin isn't configured in the POM"
If you try to run `mvn license:aggregate-add-third-party` without adding the plugin to the root / parent POM first, you get the error `Can't find license-maven-plugin` throws in this line:

https://github.com/mojohaus/license-maven-plugin/blob/70b96dfd6db8b5bde085567ea3cb2ef1bdef2d83/src/main/java/org/codehaus/mojo/license/AggregatorAddThirdPartyMojo.java#L197

I see two solutions:

1. Enhance the

[2018-06-18 08:17] banterCZ commented on #94
Does not work for me with version `1.16`, I tried plugin configuration, properties and `-D` as well.

[2018-06-22 10:37] TorstenKruse opened #143 "enhance overrideFile with overrideFileUrl"
Like the missing file it would be nice to maintain a company wide file with overrides which could be references via an url. Then it would not be neccessary to add the same overrides to every single project.

[2018-06-25 12:28] TorstenKruse commented on #107
Hi. Goal aggregate-add-third-party does not work for me, too. I always get "You should use *missingFile* parameter instead of deprecated *aggregateMissingLicensesFile*." although I use missingFileUrl instead of aggregateMissingLicensesFile or missingFile.
Looking into code, probably aggregateMissingLicensesFile still has its default value and won't be null at any time?

Would be nice to get a runn

[2018-06-25 14:12] TorstenKruse opened #144 "aggregate-add-third-party should not depend on project packaging"
The aggregate-add-third-party actually only runs for project with packaging pom.

As we would like to define the default build goals in parent pom, we need to use aggregate-add-third-party for single and multi module projects.

So I would be helpful to get aggregate-add-third-party running also for single module projects with a packaging different from pom (like jar or war).

Probably a flag "acce

[2018-07-31 08:57] jimonthebarn commented on #144
Just out of curiosity: Why not just use the add-third-party goal as well?

[2018-08-03 11:36] jimonthebarn opened #145 "license-maven-plugin interferes with project dependencies"
Hey guys,

I ran into an interesting problem I could not solve by myself and was wondering whether you could chime in and help. Its seems that the license-maven-plugin interferes (a dependency of my project even though declared as compile time dependency is skipped entirely) with maven dependencies in certain project setups.

I created a small project portraying the setup and the issue:
https://gi

[2018-08-06 12:26] TorstenKruse commented on #144
Thanks for the hint. I'll try.

[2018-08-07 07:02] derKrischan commented on #145
I've got the same behaviour. Took me hours to figure out that the license-plugin caused my build to fails because the classes in submodul1 are not found while compiling sumbodule2 as reactor build from parent pom. License plugin is configured to execute aggregate-add-third-party in default phase.

[2018-08-17 12:34] jimonthebarn commented on #145
Friendly reminder. :)

[2018-09-02 23:45] cjohnstoniv commented on #128
Has this been resolved? If so, can this be patched into a 1.16.1 release anytime soon?

[2018-09-07 12:58] jimonthebarn commented on #145
@derKrischan Have you found a solution that is not based upon removing the plugin altogether?

[2018-09-07 15:56] derKrischan commented on #145
@jimonthebarn : No, I haven't found a solution yet.

[2018-09-11 09:27] sofax opened #147 "aggregate-add-third-party prevents integration-tests in submodules from compiling"
Situation:

A reactor project with nested reactor projects. The nested reactor project's parent is the root reactor project's pom.xml.

The nested reactor projects consist of two child modules each, where one is the main artifact, and the other is an integration test artifact for that main artifact.

With the following section in the root project's pom.xml the nested integration tests won't compil

[2018-09-12 10:55] sofax commented on #147
With later versions of some other Maven plugins, even v1.13 breaks the build. I have not yet been able to trace it down to a specific constellation though.

[2018-09-19 18:07] tchemit commented on #145
Hi guys, I will try to find some time to help you later in the week.
Sorry to be so away from this right now.

[2018-10-05 03:21] dpursehouse opened #149 "Incorrect warning message reporting count of dependencies with no license"
1. If there is only 1 dependency with no license, the message is:

[code]

where it should be:

[code]

2. If there are multiple dependencies with no license, the message is:

[code]

where it should be:

[code]

[2018-10-06 08:12] devent opened #151 "License plugin breaks Groovy code"
Code:

[code]

License is inserted between code:

[code]

Plugin:

[code]

[2018-10-08 12:44] kajh commented on #73
We get the folloing stacktrace after adding the license-maven-plugin as
`<plugin>
   <groupId>org.codehaus.mojo</groupId>
   <artifactId>license-maven-plugin</artifactId>
   <version>1.16</version>
</plugin>`
We use maven-site-plugin 3.7.1.

`[WARNING] An issue has occurred with license-maven-plugin:1.16:third-party-report report, skipping LinkageError org/apache/maven/doxia/sink/SinkEventAttribut

[2018-10-11 16:41] srdo commented on #147
This seems to describe the same issue as https://github.com/mojohaus/license-maven-plugin/issues/145. I put up a proposal for a fix here https://github.com/mojohaus/license-maven-plugin/pull/148. Feel free to try it out.

[2018-10-12 05:41] sofax commented on #147
Thanks, @srdo! We don't compile Maven plugins ourselves to avoid incompatibilities, but I'm hopeful that your pull request will be integrated into the next version of the plugin! :)

[2018-10-12 14:32] Jurrie commented on #143
Same goes for licenseMergesFile.

[2018-10-13 13:14] Jurrie commented on #143
This request is implemented in https://github.com/mojohaus/license-maven-plugin/pull/153.

[2018-10-31 13:04] k-wall opened #154 "403 errors with download-licenses"
Our project uses  a dependency licensed with CC0.  The dependency's license information references http://creativecommons.org/publicdomain/zero/1.0/.

Unfortunately it seems this server is rejecting programatic use. It always rejects the request from the license plugin with a 403 response.  Requests with other agents are working so I am guessing it bases its behaviour on user-agent string.

Is the

[2018-11-07 10:01] dmak opened #155 "Infer "licenseName" from POM "licenses.license.name""
When executing [`license:update-project-license`](https://www.mojohaus.org/license-maven-plugin/update-project-license-mojo.html) goal with not defined `licenseName` it fails with the following message:
[code]
It would be nice if plugin could learn/infer license name from POM's `licenses → license → name` or `url`.

[2018-11-09 20:00] ispringer commented on #73
Why was this closed?

[2018-11-10 11:11] tchemit commented on #73
A mistake I suppose :( I will have a look at it soon.--Enjoy and ShareTony Chemit

            On nov. 9 2018, at 9:00 pm, Ian Springer <notifications@github.com> wrote:

              Why was this closed?

—You are receiving this because you modified the open/close state.Reply to this email directly, view it on GitHub, or mute the thread.

[2018-11-16 15:12] jom0000 commented on #75
ควย

[2018-11-16 15:57] ppalaga opened #158 "Let *download-licenses store the name of the downloaded file in licenses.xml"
We create an HTML report out of licenses.xml where we are adding a link to the downloaded license file. It is currently impossible to reliably figure what the downloaded file name is. Thus I am proposing the following:

1. There will be a new `<file>` element under `<license>` in licenses.xml.

2. `<file>` would be written into licenses.xml by the AbstractDownloadLicensesMojo.

Any reason why I sh

[2018-11-16 21:07] ppalaga commented on #158
Patch available in https://github.com/mojohaus/license-maven-plugin/pull/157

[2018-11-22 07:08] vasiliy-bout commented on #73
I've just tried to use the latest version 1.16, and the problem still persists. It was reported on version 1.12. Please, fix it. Can you just add this dependency into the plugin's pom.xml?

[2018-11-22 09:44] k-wall commented on #154
I have an idea for a feature that would allow the user to workaround such issues.

If the plugin accepted configuration that provided a list of the regexp match/replacement pairs, these could be used to transform the license urls prior to download.

[code]

The user could use matching regexp's matching groups to rewrite urls in arbitrary ways.  For instance, a protocol switch:

[code]

Any thought

[2018-11-26 09:48] ptahchiev commented on #73
They need to update the doxia-site-renderer from 1.4 to 1.8.1 - i don't know why they are not doing it.

[2018-11-28 17:06] srdo opened #159 "Listing the mainLicense multiple times in licenseMerges causes the plugin to act as if the license is not present."
When using the licenseMerges option in addThirdParty or aggregateAddThirdParty, there's a check that the user doesn't list the same license twice, except for main licenses. I think the check should also check main licenses if they appear in the same licenseMerge list.

For example:
[code]

This will currently cause the plugin to act as if the license isn't present on the dependency, i.e. the licen

[2018-11-29 18:59] ptahchiev opened #161 "Allow users to specify globalKnownLicenses in pom.xml"
I know unknown licenses can be added with the `missingFile` configuration property, but this is very cumbersome when you have a multi-module project. In my case I have a project with 40 sub-modules and the license-plugin is declared in the top project pom.xml, however if I am asked to add `missingFile`to all the submodules. I would like to specify the missing licenses in the configuration of the p

[2018-12-11 13:51] #159 closed

[2018-12-11 14:03] ppalaga opened #163 "Replace mojo.codehaus.org links with mojohaus.org"
There is one e.g. in DefaultThirdPartyHelper.java

[2018-12-12 10:01] #149 closed

[2018-12-14 17:06] dzolo opened #164 "Dependency map in add-third-party does not respect sorting by name"
Goal **add-third-party** does not support sorting. The result `dependencyMap` is not sorter by artifact name if enabled by `sortArtifactByName` option.

[2018-12-20 09:16] ninowalker opened #166 "update-file-header changes file permissions: clears executable bit"
I am running `license:update-file-header`; one of the files is a `.sh` with mode 755. After running, even though there is no change to the contents, the permissions are changed:

[code]

Note the permissions changed, but the contents did not! (Because the file is already correct)

[2019-01-02 09:24] ppalaga opened #168 "Switch from oraclejdk8 to openjdk8 on TravisCI"
OpenJDK 8 is a more important target after Oracle has announced that Java SE 8 public updates for OracleJDK will no longer be available for "Business, Commercial or Production use" without a commercial license, effective January 2019. See https://java.com/en/download/release_notice.jsp

[2019-01-02 09:28] ppalaga opened #170 "Add openjdk11 on TravisCI"

[2019-01-02 09:32] ppalaga opened #171 "Setup a Windows CI"

[2019-01-02 09:36] #168 closed

[2019-01-02 09:39] ppalaga opened #173 "Add Maven Wrapper a.k.a. mvnw"
This is is to simplify the setup on CI servers and to have more control over the Maven version used there.

[2019-01-02 09:52] rez- opened #174 "AddThirdPartyMojo, unable to define missing licenses for specific dependencies"
When using a missing file for the missing licenses, the following two licenses are always missing.

groovy--groovy-all-1.0-jsr--04=asdf
nanocontainer-remoting--nanocontainer-remoting--1.0-RC-1=asdf

This is the log:
[code]

[2019-01-02 10:42] rez- commented on #174
Also note that it first detects the dependencies correctly, but afterwards incorrectly stores the groupId for nanocontainer-remoting, and the artifactId and version for groovy-all:
[code]

[2019-01-02 10:47] rez- commented on #174
When I correctly store the dependencies in the missingFile, the missing licenses wont be removed, but the THIRD-PARTY.txt file has the incorrect groupId/artifactId/version.

THIRD-PARTY.properties:
groovy--groovy-all--1.0-jsr-04
nanocontainer--nanocontainer-remoting--1.0-RC-1=asdf

THIRD-PARTY.txt:
(asdf) groovy-all-1.0-jsr (groovy:groovy-all-1.0-jsr:04 - no url defined)
(asdf) Nanocontainer Remot

[2019-01-02 11:04] #170 closed

[2019-01-02 11:04] #173 closed

[2019-01-03 10:17] ppalaga opened #175 "Add .editorconfig file and enforce it via editorconfig-maven-plugin"

[2019-01-03 10:57] ppalaga opened #177 "Call checkstyle:check in verify phase"

[2019-01-03 10:57] #175 closed

[2019-01-03 14:01] #177 closed

[2019-01-04 10:47] #145 closed

[2019-01-04 13:11] ppalaga commented on #174
@rez- could you please reproduce with a snapshot built from the current master?
If it is still reproducible, an integration test in https://github.com/mojohaus/license-maven-plugin/tree/master/src/it would be highly welcome.

[2019-01-04 13:14] ppalaga commented on #166
An integration test reproducing the issue in https://github.com/mojohaus/license-maven-plugin/tree/master/src/it would be highly welcome.

[2019-01-04 13:18] ppalaga commented on #155
A PR with an integration test would be welcome.

[2019-01-04 13:22] ppalaga commented on #151
A PR with an integration test is welcome.

[2019-01-04 13:30] ppalaga commented on #144
`add-third-party` mojo should work in the sketched situation. Feel free to reopen if it does not.

[2019-01-04 13:30] #144 closed

[2019-01-04 13:35] ppalaga commented on #139
Thanks for the report. A PR with an integration test is welcome.

[2019-01-04 13:41] ppalaga commented on #138
Please explain better (1) sum up the current behavior (2) what is wrong with the current behavior and (3) what is the expected behavior

[2019-01-04 13:42] ppalaga commented on #138
Which goals are affected?

[2019-01-04 13:46] ppalaga commented on #135
Thanks for the report. Could you please transform the attached project to an integration test under https://github.com/mojohaus/license-maven-plugin/tree/master/src/it ?

[2019-01-04 13:47] ppalaga commented on #134
Which mojos are affected?

[2019-01-04 13:48] ppalaga commented on #133
The migration was finished, IMO. We currently test on Java 7, 8 and 11.

[2019-01-04 13:48] #133 closed

[2019-01-04 13:50] ppalaga commented on #129
The fix seems to have been merged. Feel free to reopen if that's not the case.

[2019-01-04 13:50] #129 closed

[2019-01-04 13:52] ppalaga commented on #128
The fix seems to have been merged. Feel free to reopen if that's not the case.

[2019-01-04 13:53] ppalaga commented on #125
A pull request is welcome.

[2019-01-04 13:55] ppalaga commented on #115
The fix seems to have been merged. Feel free to reopen if that's not the case.

[2019-01-04 13:55] #115 closed

[2019-01-04 13:58] ppalaga commented on #114
A PR with an integration test is welcome.

[2019-01-04 14:08] ppalaga commented on #112
A PR with an integration test is welcome.

In the meantime, you may want to consider using `com.mycila:license-maven-plugin` that adds no clutter to the license header.

[1] https://github.com/mycila/license-maven-plugin

[2019-01-04 14:11] ppalaga commented on #110
A PR is welcome.

[2019-01-04 14:14] ppalaga commented on #107
I recently merged a couple of fixes in this area. Could you please reproduce using a SNAPSHOT built from the current master?

[2019-01-04 14:23] ppalaga commented on #77
@danielwegener which mojos is this targeting?

It would be welcome to transform the attached project into an integration test under https://github.com/mojohaus/license-maven-plugin/tree/master/src/it

[2019-01-04 14:43] ppalaga commented on #54
If this issue still occurs, then a reproducer in form of an integration text under https://github.com/mojohaus/license-maven-plugin/tree/master/src/it would be welcome.

[2019-01-04 15:41] rez- commented on #174
Unfortunately it's still reproducible, so I just created a pull request (#183).

[2019-01-04 15:42] #163 closed

[2019-01-04 17:04] #158 closed

[2019-01-04 20:14] reitzmichnicht commented on #138
Often the license information in the pom.xml looks like this:
[code]
When running the goal license:aggregate-add-third-party for example it is not possible to configure 2 license merges for the same string as described above. That makes it hard to maintain blacklists.

Kind regards,
Michael

[2019-01-07 08:33] #128 closed

[2019-01-07 08:47] sofax commented on #147
It looks good, @ppalaga!

[2019-01-07 08:59] #147 closed

[2019-01-07 17:22] #46 closed

[2019-01-08 13:04] #164 closed

[2019-01-08 15:58] rez- commented on #174
After some digging, it turns out that the nanocontainer-remoting artifact is stored under groupId "nanocontainer" but the pom file contains the groupId "nanocontainer-remoting"...

[2019-01-08 16:00] rez- commented on #174
Same with groovy-all,
The pom file has artifactId "groovy-all-1.0-jsr" with version "04"
But maven central lists the artifactId as groovy-all and the version as "1.0-jsr-04"

[2019-01-08 16:03] rez- commented on #174
see MavenProjectBuilder.buildFromRepository in DefaultDependenciesTool.java

[2019-01-08 16:06] gevegab commented on #135
Hello,

I have created the integration test.

But I had some problems checking out the project, because I develop on Windows and the tests (both unit and integration) failed.

So I decided to fork the project to be sure not to introduce errors on you code base. I will create a cross-fork pull request for you to integrate.

Because of the problems, I have not tried a full build of the project, but

[2019-01-08 19:57] ppalaga commented on #174
Interesting. Thanks for looking into it. Looks like it has been reported to Sonatype, but they did not want to fix it:

I think we should try to workaround it.

[2019-01-08 20:45] rez- commented on #174
I have half a work-around in commit 6dc3b2f, the missing dependency listing now shows it correct:
[code]
However, the values are still not correct in the THIRD-PARTY.txt file

[2019-01-09 10:31] dzolo opened #192 "add-third-party sorts dependency map by project name without case ignore"
The **add-third-party** performs ordering of dependencies using _String#compareTo_. This causes that third party file is not properly ordered by alphabet. E.g. _antlr_ dependency is added to the third party file after _Apache Commons Lang_ dependency.

[2019-01-09 10:53] TorstenKruse commented on #107
Using the current master snapshot I get an error on execution on my windows 10.

Root cause is:

[2019-01-09 11:08] ppalaga commented on #107
@TorstenKruse Sorry for that. It is probably my fault. It is a pity that we still do not have a Windows CI. I am waiting for Mojohaus folks to check why it does not work yet.

[2019-01-09 11:41] rez- commented on #174
Fixed in #190 :D

[2019-01-09 11:56] ppalaga opened #193 "FileNotFoundException: \dev\null on Windows"
Reported by @TorstenKruse in https://github.com/mojohaus/license-maven-plugin/issues/107#issuecomment-452655128

[code]

[2019-01-09 12:05] k-wall commented on #158
I think I am seeing a regression caused by this change.  If the license.xml exists but includes a reference to  a license that previously failed to download (a 404 in my case), a second Maven invocation reports the following NPE.

[code]

[2019-01-09 12:17] #193 closed

[2019-01-09 12:21] ppalaga commented on #107
@TorstenKruse could you please re-try now after I merged https://github.com/mojohaus/license-maven-plugin/pull/194 ?

[2019-01-09 13:15] k-wall opened #195 "License names with slashes generate illegal filenames when in organizeLicensesByDependencies mode"
If the license name includes a slash, such as "CDDL/GPLv2+CE" the filename generated by the Download Licenses when in `organizeLicensesByDependencies` is illegal.

e.g.
`/Users/keith/src/enmasse/keycloak-controller/target/classes/licenses/javax.activation.javax.activation-api_cddl/gplv2+ce.html
`

I think org.codehaus.mojo.license.AbstractDownloadLicensesMojo#getLicenseFileName needs to be modifie

[2019-01-09 13:38] TorstenKruse commented on #107
@ppalaga After pulling current master the former exception is gone. But another arises. Would be nice to get another fix.

[2019-01-09 22:35] #174 closed

[2019-01-09 22:36] #192 closed

[2019-01-10 11:54] #171 closed

[2019-01-10 13:33] ppalaga opened #196 "Add the ability to transform a license url with a regular expression/replacement pair"
Proposed by @k-wall

[2019-01-10 13:42] ppalaga opened #197 "NPE in loadLicenseInfo when the licenses.xml file contains licenses without <file>"
Reported by @TorstenKruse . I think @k-wall mentioned the same thing.

[code]

[2019-01-10 14:32] rez- commented on #166
I tried to make an integration test but I cannot...
Somehow, when the invoker prebuild script runs, it detects that the file is not executable while it should! The file is executable, but Java/groovy is unable to determine that it is.

Furthermore, I only noticed that the file permission is changed only when the contents is changed (a new header is applied).

[2019-01-10 18:08] ppalaga opened #199 "FreeMarkerHelperTest.testRenderTemplateForUpdateFileHeader fails on Windows"
https://ci.appveyor.com/project/ppalaga/license-maven-plugin-g0x55/builds/21528661/job/52af8gj498qkng3i#L1458

[code]

[2019-01-10 18:09] #197 closed

[2019-01-10 18:10] ppalaga commented on #107
@TorstenKruse could you please check after https://github.com/mojohaus/license-maven-plugin/pull/198 was merged?

[2019-01-11 07:36] TorstenKruse commented on #107
Build is successful now! But the strange warning is still there.

First the goal add-third-party is executed for each module of the multi-module project. This is fine. At last the aggregate-add-third-party is executed for the complete project and it still starts with the following messagen:

[2019-01-11 07:49] TorstenKruse opened #201 "add an option to avoid "remove it from the missing file" in the build log"
In our multi-module project we use the license-plugin with the missingFileUrl option.
We created a company-wide missing file which contains GAV and license information for all the dependencies used in our projects for which the license information is not supplied by the dependency itself. So we do not need to gather this information for every single project.

As a result the global missingFile con

[2019-01-11 07:52] ppalaga commented on #107
@TorstenKruse thanks for your effort. From what you say, I am not sure what of the following is true:

1. The current issue (as originally described) is still reproducible
2. The warning about missingFile and aggregateMissingLicensesFile is misleading but otherwise the mojo behaves as expected.

Could you please confirm or deny these two statements?

[2019-01-11 07:55] ppalaga commented on #201
Looks like a valid use case. Feel free to submit a PR that would contain at least one integration test.

P.S.: Windows CI works now and I am in the process of solving some Windows build/test issues.

[2019-01-11 08:31] #199 closed

[2019-01-11 09:08] ppalaga opened #202 "Add licensesOutputFileEol parameter to download-licenses"
Currently, the generated licenses.xml file has platform specific EOLs and the integration tests fail on Windows due to this.

[2019-01-11 09:11] TorstenKruse commented on #107
Well, I'm not 100% sure too because my original fault was slightly different from the inital one of this issue.
I think we should ask @v1v .
For him the check did not run properly because of packaging jar combined with aggregate goal.
For me the check did not run properly because the missingFileUrl was not handeled properly in aggregate.

When I try packaging "jar" for my multi-module project I ge

[2019-01-11 10:42] ppalaga commented on #107
OK, let's keep this open, although I cannot tell this is a bug. An integration test demonstrating the issue would be highly welcome.

As for the the warning about missingFile and aggregateMissingLicensesFile, @TorstenKruse feel free to open a new issue.

[2019-01-11 10:55] #202 closed

[2019-01-11 10:59] ppalaga opened #204 "MLICENSE-132 integration test fails on Windows"
See https://ci.appveyor.com/project/ppalaga/license-maven-plugin-g0x55/builds/21547120/job/k2lp03sc6jror7lr

[2019-01-11 11:00] ppalaga opened #205 "Bad hashbang handling on windows"
See https://ci.appveyor.com/project/ppalaga/license-maven-plugin-g0x55/builds/21547120/job/k2lp03sc6jror7lr

[2019-01-11 12:46] ppalaga commented on #135
The windows CI finally started working and I was able to fix the hottest issues. So if you rebase on top of current master, you should basically be able to build on windows. These two integration tests are known to fail: https://github.com/mojohaus/license-maven-plugin/issues/205 and https://github.com/mojohaus/license-maven-plugin/issues/204 where https://github.com/mojohaus/license-maven-plugin/

[2019-01-11 15:57] gevegab commented on #135
Ok. I have rebased my branch on the current master and I am able to build on windows.

This issue actually happens on both windows and linux, I will propose you a fix next week.

I also identified the problems with issues #204 and #205 on windows, I commented there and will propose you a fix next week

[2019-01-11 16:24] gevegab commented on #204
The test actually fails on windows because the POM file has the following configuration

[code]

and on windows this interpolates to a wrong URL (something like **file://c:\your\diretory/licenses.merge**)

Use instead:

[code]

I have build on windows with this modification and the test passes.

But I have not tested on unix, please verify if this solves the problem

[2019-01-11 16:43] gevegab commented on #205
The test fails on windows because the "update-file-header" goal applied to a shell file doesn't place the header after the hashbang.

I have pinpointed the problem to this code in file **PropertiesFileHeaderTransformer**

https://github.com/mojohaus/license-maven-plugin/blob/050acff3338acd3c350ca561a3f75dcb799a8b2f/src/main/java/org/codehaus/mojo/license/header/transformer/PropertiesFileHeaderTran

[2019-01-14 09:55] TorstenKruse opened #207 "remove strange warning about aggregateMissingLicensesFile"
I have a multi-module project and use the aggregate-add-third-party goal.

I always get "You should use missingFile parameter instead of deprecated aggregateMissingLicensesFile." for the main project (not for each module) although I use missingFile instead of aggregateMissingLicensesFile.

Looking into code, probably aggregateMissingLicensesFile still has its default value and won't be null at any

[2019-01-14 09:56] TorstenKruse commented on #107
#207

[2019-01-14 13:40] ppalaga commented on #207
Probably easy to fix. A PR is welcome.

[2019-01-14 13:45] #154 closed

[2019-01-14 13:45] #196 closed

[2019-01-14 13:49] #204 closed

[2019-01-14 17:16] gevegab opened #208 "ISSUE-154 integration test fails on Windows"
The problem is very similar to issue #204, the url of the replacement file specified in the POM of the integration test is wrongly interpolated in windows.

Instead of
[code]

Should be
[code]

will create PR with the fix

[2019-01-15 14:03] gevegab commented on #166
As far as I can understand the code, the **UpdateFileHeaderMojo** works, by making a copy of the original file, adding the header to the copy, and finally deleting the original file and renaming the copy :

https://github.com/mojohaus/license-maven-plugin/blob/e427a5c08f15f6ad7e2e7cf83268ecda19045724/src/main/java/org/codehaus/mojo/license/AbstractFileHeaderMojo.java#L737-L764

So it is not surpri

[2019-01-17 12:48] digulla commented on #73
With license-maven-plugin:1.16:aggregate-third-party-report, doxia 1.8 doesn't work for me.
I had to use doxia 1.6 as in https://github.com/mojohaus/license-maven-plugin/issues/73#issuecomment-346130508

With doxia 1.8 and 1.8.1, org/apache/maven/doxia/sink/SinkEventAttributeSet is missing (probably was moved to a new package org.apache.maven.doxia.sink.impl in 1.8).

[2019-01-17 13:42] digulla opened #211 "Load THIRD-PARTY.properties from parent POM"
I have a multi-module build with 5 modules. One of them is the parent POM (so I have a root POM and an independent parent POM).

The parent POM defines the Hibernate dependency which has a transitive dependency to dom4j. dom4j doesn't have a licence entry in it's POM.

This means I get a warning in each of the four modules about a missing license for dom4j:

    [WARNING] There is 1 dependencies w

[2019-01-17 13:45] digulla commented on #211
dom4j isn't an uncommon dependency. dom4j 2.0.x has a license element: http://central.maven.org/maven2/org/dom4j/dom4j/2.0.0/dom4j-2.0.0.pom
but dom4j 2.1.x doesn't even have a POM anymore: https://mvnrepository.com/artifact/org.dom4j/dom4j/2.1.1

[2019-01-17 17:36] rez- commented on #211
Would be nice if we could add the missing licenses into the parent pom instead of defining a seperate file.

[2019-01-18 13:26] digulla opened #212 "Add links to license in HTML report"
The HTML report currently only shows the license name from the POMs.

If the license has a URL in them, create a link in the HTML report with the name as text of the link.

If possible, add a list of URL mappings because some links are dead.

[2019-01-18 13:28] digulla opened #213 "Links in aggregate-third-party-report.html point to third-party-report.html"
When creating an aggregated report with `license:aggregate-third-party-report`, the resulting file contains links to the (non existing) file `third-party-report.html`

Either fix the name of the file or use relative links (i.e `#Overview` instead of `third-party-report.html#Overview`).

[2019-01-18 19:55] ppalaga commented on #213
A pull request, ideally with an integration test would be welcome.

[2019-01-18 20:07] ppalaga commented on #212
A contribution is welcome

[2019-01-18 20:54] ppalaga commented on #73
A pull request with an integration test is welcome.

[2019-01-23 12:37] digulla commented on #211
I'm using `license:aggregate-add-third-party`

[2019-01-23 12:37] #205 closed

[2019-01-23 15:07] #135 closed

[2019-01-24 12:47] digulla opened #214 "Use URLs over license names"
I want to use the plugin to clear the IP which my projects are using. For that purpose, I think it would be much better to use the URL to group licenses, i.e. the POM should give me an option to assign a name to a URL and the license plugin should then use this name (and the specified URL) in the generated HTML report (and only the name on the command line).

This would mean the merge section of t

[2019-01-24 13:07] ppalaga commented on #214
Please add more details:

* Which mojo(s) would be affected
* Maybe try to sketch the new configuration needed here

[2019-01-24 13:11] digulla commented on #213
The fix is probably just changing one line in `license-maven-plugin\src\main\java\org\codehaus\mojo\license\ThirdPartyReportRenderer.java`:

        sink.link( "./third-party-report.html#" + getText( "report.overview.title" ) );

to

        sink.link( "#" + getText( "report.overview.title" ) );

I checked out the project and could compile it ./mvnw clean install but I can't run it with Maven 3.6:

[2019-01-24 13:21] ppalaga commented on #213
If "run" means that you have a sample project on which you run your freshly built SNAPSHOT of the plugin, then I recommend to transform your sample project into an integration test under  https://github.com/mojohaus/license-maven-plugin/tree/master/src/it and create a pull request. Then somebody will be able to reproduce your problem and maybe he can also help to solve it.

[2019-01-28 16:15] digulla commented on #213
How can I write an IT which depends on Maven 3.6?

[2019-01-29 12:22] Tibor17 opened #217 "Upgrade to doxia 1.8"
The plugin uses old Doxia 1.5 which caused
ClassNotFoundException `org/apache/maven/doxia/sink/render/RenderingContext`.
It makes problems to run on Maven 3.3.9 and JDK 1.8.

[2019-01-29 12:31] Tibor17 opened #218 "Dependency exclusions with star * on groupId and artifactId not supported by plugin due to low version maven-artifact:2.2.1"
If a dependency ha an exclusion which is using `*` , this plugin take all transitive dependencies into account.
The reason is that property `mavenVersion` is `2.2.1`.

[2019-01-29 12:39] Tibor17 opened #219 "The plugin performs artifact resolution first and then includedScopes."
We have `includedScopes=compile, runtime`.
Nevertheless the plugin resolves test dependencies and should not.

[2019-02-01 10:34] #213 closed

[2019-02-01 10:57] ppalaga commented on #219
Please add steps to reproduce, ideally in from of an integration test under https://github.com/mojohaus/license-maven-plugin/tree/master/src/it

Which mojo(s) does this relate to?

[2019-02-01 10:58] ppalaga commented on #218
Please add steps to reproduce, ideally in from of an integration test under https://github.com/mojohaus/license-maven-plugin/tree/master/src/it

Which mojo(s) does this relate to?

[2019-02-01 11:00] ppalaga commented on #217
Could you please try to reproduce with a SNAPSHOT built from the current master now after https://github.com/mojohaus/license-maven-plugin/pull/220 was merged?

I tested manually with maven 3.5.4 and 3.6, but not with 3.3.x

[2019-02-01 13:00] #195 closed

[2019-02-01 13:54] Tibor17 commented on #218
We run the goal `aggregate-third-party-report`.
The point is that Maven artifact filter with stars `*` was first time introduced in Maven `3.3.1`. So this filtering artifact version should be used. We wanted to exclude all transitive dependencies on the dependency `org.wildfly:wildfly-cli`.

[2019-02-01 14:02] ppalaga commented on #218
A fix incl. an integration test is welcome.

[2019-02-02 15:16] ppalaga opened #223 "Upgrade to mojo-parent 50"

[2019-02-03 10:44] #223 closed

[2019-02-03 13:20] #217 closed

[2019-02-03 18:57] #166 closed

[2019-02-04 12:19] digulla opened #227 "1.18-SNAPSHOT doesn't build or run with Maven 3.6.0"
Steps to reproduce: Checkout master branch. Download Apache Maven 3.6.0 from the website. Run `mvn clean install`

All 72 ITs fail. The "build.log" files are empty.

Running `mvn clean install -X` shows this output:

[code]

`./mvnw clean install` works.

1.17-SNAPSHOT already failed for me, probably for the same reason. Didn't try to build 1.16.

I've tried to use the 1.17 release in one of my pr

[2019-02-04 12:57] digulla opened #228 "Project doesn't build out of the box on Windows"
This is to discuss the need of a `.gitattributes` file.

`git config --list --show-origin` shows that `core.autocrlf` is not defined. I think the default is `true`.

How about dropping `.editorconfig` and configuring Git in such a way that it will work for everyone out of the box, no matter how `autocrlf` is configured? I have about 50 Git projects from all kinds of sources checked out right now.

[2019-02-04 13:38] ppalaga commented on #227
@digulla could you please paste your output of `mvn -version` to see which Java version you use?

Mine is the following and it works for me

[code]

Maybe you could try to upgrade the version mvnw is using to see whether the issue is reproducible on AppVeyor Windows CI. Here: https://github.com/mojohaus/license-maven-plugin/blob/master/.mvn/wrapper/maven-wrapper.properties#L1 and here: https://git

[2019-02-04 14:16] ppalaga opened #229 "Structured output for failed license downloads"
Currently `download-licenses` only warns about license download failures in the log. For those licenses a manual action needs to be performed and some of them will end up in the `licensesConfigFile` with fixed URLs, etc. So it would be practical to put all failed downloads into a separate xml file that could serve as a base for `licensesConfigFile`.

[2019-02-04 14:44] #229 closed

[2019-02-05 09:06] gevegab commented on #228
The default configuration in my machine is :
[code]
You can  notice that `core.autocrlf` is set to `true` in C:\\ProgramData/Git/config

The Git for Windows documentation states the following :

So apparently $PROGRAMDATA/Git/config  is a location that can be modified by other Git implementations. I do remember some installer asked me at some point to choose a value for `autocrlf` and the default

[2019-02-05 12:22] ppalaga opened #231 "Make sure the directory of licenses-errors.xml exists"

[2019-02-05 13:36] ppalaga opened #233 "Follow redirects more than once"
We currently assume only one redirect can come as a response to the original license URL. In fact, the response to the redirect URL can be a redirect again, as happens with http://glassfish.java.net/public/CDDL+GPL_1_1.html:

[code]

Funny enough, https://javaee.github.io/glassfish/ does not contain the license.

[2019-02-05 13:39] ppalaga commented on #233
http://www.opensource.org/licenses/LGPL-2.1 is a better example: it redirects to http://opensource.org/licenses/LGPL-2.1 and then to https://www.opensource.org/licenses/LGPL-2.1 where the actual license resides

[2019-02-05 13:48] digulla commented on #227
Same as your's but for Windows:

[code]

My guess is that one of the dependencies is different. Can you try to run the report with `-X` and compare the URLs with mine?

I'm not using AppVeyor, so I don't think changing `appveyor.yaml` will have an effect. I updated the version of the Maven wrapper. Afterwards `./mvnw -version` reported `Apache Maven 3.6.0 (97c98ec64a1fdfee7767ce5ffb20918da4f719f3;

[2019-02-05 14:13] ppalaga commented on #227
Invoker https://github.com/mojohaus/license-maven-plugin/blob/master/pom.xml#L510

I think unless something special is set inside `invoker.properties`, it takes `mvn` from the `PATH`. I think that's the reason why I added this line on AppVeyor: https://github.com/mojohaus/license-maven-plugin/blob/master/appveyor.yml#L7

[2019-02-05 18:21] ppalaga opened #235 "NPE when there is no <url> under <license>"
Happens e.g. for `ca.uhn.hapi:hapi-base:jar:2.3:compile`

[code]

[2019-02-05 18:39] ppalaga opened #236 "Normalize whitespace when creating file names from license names"
Happens with javax.cache:cache-api:1.0.0 where there is a newline and lots of whitespace in the license name - see http://central.maven.org/maven2/javax/cache/cache-api/1.0.0/cache-api-1.0.0.pom

[2019-02-05 18:50] ppalaga opened #237 "Build with errorRemedy = xmlOutput should fail if there are download errors"

[2019-02-05 19:40] ppalaga opened #239 "Intermittent errors on AppVeyor Java 8"
https://ci.appveyor.com/project/ppalaga/license-maven-plugin-g0x55/builds/22147474/job/p3chgj1tu8uvbyyo

[code]

[2019-02-05 20:18] #235 closed

[2019-02-05 20:18] #236 closed

[2019-02-05 20:18] #237 closed

[2019-02-05 20:18] #239 closed

[2019-02-05 21:15] ppalaga opened #240 "Introduce url -> file name mapping"

[2019-02-06 20:23] ppalaga commented on #125
Here is the list of SPDX licenses: https://github.com/spdx/license-list-data/blob/master/json/licenses.json

[2019-02-08 14:26] ppalaga opened #242 "Proxy settings ignored"
https://github.com/mojohaus/license-maven-plugin/issues/233 switched to Apache HTTP client and the functionality related to proxy settings was not ported by my mistake.

[2019-02-08 15:39] #240 closed

[2019-02-08 15:45] ppalaga opened #244 "Move LicenseDownloader to org.codehaus.mojo.license.download"
That's where it belongs, because nobody except AbstractDownloadLicensesMojo uses it and it should stay so.

[2019-02-08 17:08] #242 closed

[2019-02-08 17:08] #244 closed

[2019-02-08 17:23] nfalco79 opened #245 "aggregate-add-third-party does not take care the missingFileUrl parameter"
I had set the missingFileUrl to execute a aggregate-add-third-party goal but it does not perform any HTTP request. Looking into the code the issue is AddThirdPartyMojo.initFromMojo forget to copy the missingFileUrl attribute.

I had also notice that there is a circular dependency between AggregatorAddThirdPartyMojo -> AddThirdPartyMojo -> AggregatorAddThirdPartyMojo

[2019-02-11 13:50] ppalaga commented on #125
@matrixik which mojos is this supposed to affect?

[2019-02-11 13:53] ppalaga opened #247 "Add SPDX license list"
Have a Java representation of [https://raw.githubusercontent.com/spdx/license-list-data/master/json/licenses.json](SPDX licenses.json)

[2019-02-11 16:25] matrixik commented on #125
Hmm, actually I don't remember why I created this issue, sorry.

[2019-02-12 20:24] ppalaga opened #250 "Use SPDX license IDs to determine local file names when downloading licenses"

[2019-02-12 20:28] ppalaga opened #251 "Add cleanLicensesOutputDirectory parameter to AbstractDownloadLicensesMojo"
`forceDownload` allows for overwriting existing files, but stale license files associated with removed dependencies are still left there. cleanLicensesOutputDirectory should mitigate that.

[2019-02-12 20:30] ppalaga opened #252 "Add writeVersions parameter to AbstractDownloadLicensesMojo"
For users that want to keep the licenses.xml under source control and they do not want to see dependency versions there.

[2019-02-12 20:43] ppalaga commented on #125
Closing this one as missing any goal. See https://github.com/mojohaus/license-maven-plugin/issues/247 and https://github.com/mojohaus/license-maven-plugin/issues/250 that are related to SPDX.

[2019-02-12 20:43] #125 closed

[2019-02-12 21:02] #247 closed

[2019-02-12 22:56] nfalco79 opened #253 "Add licenseMergesUrl also in report goals"
Existing report goals:
- third-party-report
- aggregate-third-party-report

does not support licenseMergesUrl like their conterpart:
- add-third-party
- aggregate-add-third-party

[2019-02-12 22:59] nfalco79 commented on #134
All mojos with missingFileUrl attribute are affected by this:
- add-third-party
- aggregate-add-third-party
- aggregate-third-party-report
- third-party-report

[2019-02-13 07:14] matrixik commented on #125
Thank you.

[2019-02-13 08:24] #250 closed

[2019-02-13 09:58] ppalaga commented on #228
I have not touched it and I never cared so I do not know. Feel free to add `git config -l --show-origin` to .appveyor.yml` and send a PR to see.

From my PoV, this looks like a git misconfiguration on the user's side. It is defintely good that the editorconfig plugin is there to tell the user that he has a problem. `.editorconfig` is there not only to verify. It's huge advantage is that it is an I

[2019-02-13 10:00] ppalaga commented on #227
Is this still an issue, @digulla ?

[2019-02-13 10:02] ppalaga commented on #219
@Tibor17 do you want to add the missing details? Otherwise, I'd close this as non-reproducible.

[2019-02-13 10:20] ppalaga commented on #111
If this is supposed to be a bug, a fix and a reproducer in form of an integration test under https://github.com/mojohaus/license-maven-plugin/tree/master/src/it is welcome.

[2019-02-13 12:31] #251 closed

[2019-02-13 15:01] #252 closed

[2019-02-13 15:28] nfalco79 commented on #228
The same issue here. The `core.autocrlf` is valued to `true` as suggested by the git guide when there are developer that works with different operative system (https://git-scm.com/book/en/v2/Customizing-Git-Git-Configuration chapter "Formatting and Whitespace").
When set to true and clone a repository all files in workdir are created with CRLF but on commit/push are converted to LF. This settings

[2019-02-13 15:52] ppalaga commented on #228
Let's put it very clearly: `core.autocrlf` having `true` for this repo is a not possible because several tests assume specific line endings on some specific files.

The two valid solutions I see ATM are

(a) recommend users setting `core.autocrlf` to `false` or

(b) find a maintainable setup in `.gitattributes`

[2019-02-13 15:54] elballa opened #258 "aggregate-third-party-report goal fails when licenseMerges parameter is used"
Usage of licenseMerges parameter is cause of failure in the aggregate-third-party-report goal.
It happens because licenseMerges is a list of strings and it's passed as second argument in the
loadProjectArtifacts method of DependenciesTool class which expects a list of remote repositories instead.

[2019-02-13 16:53] ppalaga commented on #258
Thanks for the report. An integration test reproducing the issue under https://github.com/mojohaus/license-maven-plugin/tree/master/src/it and a fix is welcome.

[2019-02-13 17:26] nfalco79 commented on #245
not a bug

[2019-02-13 17:26] #245 closed

[2019-02-13 17:51] nfalco79 commented on #228
If so than you could close the issue

[2019-02-13 18:26] ppalaga opened #259 "Move classes used solely by download mojos to org.codehaus.mojo.license.download"

[2019-02-13 18:56] Tibor17 commented on #219
It's in our commercial project.
This is performance issue. Behavior is ok.
It may to do with an algorithm of the Maven Core 2.2.1.
While plugin resolves dependencies, all are downloaded and `includedScopes` is done afterwards which is bad because this takes too long and some dependencies fail to download.

[2019-02-13 21:22] ppalaga commented on #219
The maven-core dependency has `<scope>provided</scope>` https://github.com/mojohaus/license-maven-plugin/blob/master/pom.xml#L172-L176 so you should get the version delivered by your current maven runtime.

Or you mean that newer maven-core offers an API to "filter before" download?

[2019-02-13 22:16] Tibor17 commented on #219
@ppalaga
I mean newer version - `mavenVersion`.
I tried to upgrade the project to 3.0 but it's not only about `mavenVersion`.
I can do it later, not today.

[2019-02-14 10:46] #259 closed

[2019-02-15 18:25] #258 closed

[2019-02-18 15:00] #134 closed

[2019-02-19 12:01] #253 closed

[2019-02-19 13:34] nfalco79 commented on #227
This error is not caused by maven version. It was fixed in PR #261

[2019-02-19 14:15] nfalco79 commented on #218
@Tibor17 is you refer to the includedGroups/excludedGroups pay attention because is not the usual MavenArtifact filters. It was implemented in a custom way and the excludedGroups value is interpreted as regular expression where the * has a different meaning.

To perform what you need should be re-implemented the way to filter where you can setup not only the filter on GAV with glob pattern (org.ap

[2019-02-19 15:56] ppalaga commented on #227
@digulla does #261 help as @nfalco79 suggests?

[2019-02-19 15:59] ppalaga commented on #218
I guess the `@Parameter` fields would deserve a better JavaDoc. Volunteers?

[2019-02-19 17:55] hohwille opened #264 "Unable to create thirdparty (add-third-party)"
For whatever reason `add-thrid-party` does not work if packaging is `pom`. This seems to be by design:
https://www.mojohaus.org/license-maven-plugin/examples/example-thirdparty.html

However, IMHO there is no rationale behind this decision. I am facing problems in my project as I do have dependencies in a module with packaging `pom` that I include in my assembly using the `maven-dependency-plugin`

[2019-02-19 18:13] rez- commented on #264
related: #211

[2019-02-19 20:32] ppalaga commented on #211
Referencing a directory relative to the root or parent project is a common problem in Maven multimodule projects. I do not remember to have seen a Maven plugin that would solve it by itself. All plugins I know implement/recommend one of the following

(a) Package the config files to JARs that have to be declared as dependencies of the plugin in users's POM. Plugin them loads those files as classpa

[2019-02-19 20:32] #211 closed

[2019-02-19 20:37] ppalaga commented on #264
Yes, a PR with an integration test would be welcome. It is probably a good idea to have a property that activates the new behavior so that we stay backwards compatible.

[2019-02-19 22:53] nfalco79 commented on #211
The directory-maven-plugin does not replace properties (also if executed in initialise phase) after maven has read and resolve the pom.xml (see [here](https://github.com/jdcasey/directory-maven-plugin/pull/6)) unless this behavior has changed (but and I think no).
Since Maven 3 you can use `${session.executionRootDirectory}` that unless you run mvn from a sub module to the work you expect (`${sess

[2019-02-20 13:26] ppalaga opened #265 "Let AbstractDownloadLicensesMojo.licensesConfigFile match by regular expressions"

[2019-02-20 15:09] ppalaga opened #267 "gnu.org unreliable - replace it with something else in tests"
CI failed several times in the past due to https://www.gnu.org/licenses/lgpl-3.0.txt and https://www.gnu.org/licenses/lgpl-2.1.txt not being served properly.

[2019-02-20 15:55] #265 closed

[2019-02-20 15:55] #267 closed

[2019-02-20 15:57] ppalaga opened #268 "Make sure license file name has only one extension"
We currently produce names like `license.php.html` or `license.htm.html` which is not nice.

[2019-02-20 16:37] ppalaga opened #270 "Introduce license file name sanitizers"

[2019-02-20 17:39] nfalco79 opened #271 "acceptPomPackage does not have effect on the parent project when aggregate-add-third-party"
Hi, we have a maven project (packaging pom) that aggregate only artifacts to be delivered to a client.
To do this usually we define dependencies on a project of with pom packaging and run the assembly plugin (or depedency-copy-dependency) to gathers all of them.
Now our department would realize a report to double check all licenses to give to a client.
The acceptPomPackage documents "To execute or

[2019-02-20 19:49] #268 closed

[2019-02-20 20:01] ppalaga commented on #271
Would running `add-third-party` in the assembly pom project be a valid workaround?

[2019-02-20 20:20] nfalco79 commented on #271
yes with the above property set to true. My question is what I describe is wanted behaviour or it's a bug?

[2019-02-20 20:24] ppalaga commented on #271
I have no opinion on that. You may try your luck to ask the original author(s).

[2019-02-20 20:25] #270 closed

[2019-02-20 20:31] nfalco79 commented on #271
I should ask to @tchemit but since seems you are the mantainer and the most (second) contributor for this plugin. What do you think? Is reasonable think to have the same behaviour for both goals?

[2019-02-21 09:39] hohwille commented on #264
Mhm, maybe I was just too stupid to read the docs:
https://www.mojohaus.org/license-maven-plugin/add-third-party-mojo.html#acceptPomPackaging

FYI: The second issue is not related to your plugin. As the jar module is build first it generates the `THIRD-PARTY.txt` properly but as `mvn clean install` does not first clean the entire project and then perform install build it will first delete the `tar

[2019-02-21 09:39] #264 closed

[2019-02-21 10:05] ppalaga opened #274 "Missing license downloads due to return from a loop in AbstractDownloadLicensesMojo.downloadLicenses()"

[2019-02-21 10:29] #274 closed

[2019-02-21 12:45] elballa opened #277 "aggregate-add-third-party does not use missingFileUrl parameter"
Even though missingFileUrl is set and resolves missing license of a bundle project's dependency, the aggregate-add-third-party goal fails checking for license of that dependency.
I'll show you in an integration test

[2019-02-21 12:52] ppalaga commented on #277
You may want to check https://github.com/mojohaus/license-maven-plugin/pull/246

[2019-02-21 13:03] ppalaga opened #278 "Add timeout parameters to AbstractDownloadLicensesMojo"

[2019-02-21 13:13] elballa commented on #277
Yes sure, the effect is the same but solution a little bit different

[2019-02-21 13:51] nfalco79 commented on #277
@ppalaga  My colleague has open a new defect instead reopen the other one for mistake.
He found the cause of the issue. The aggregate-add-third-party goal ignores missingFileUrl parameter if it is the only missing parameter specified.
There is a condition in AbstractAddThirdPartyMojo#resolveUnsafeDependenciesFromFile method that [check if the missingFile exists and is not empty](https://github.com

[2019-02-21 14:08] nfalco79 commented on #278
Please consider also to use those parameters also to configure the HTTP client that download any Url parameter

[2019-02-21 16:08] #278 closed

[2019-02-21 16:09] ppalaga commented on #278
It is out of the current scope. Feel free to open a separate issue for UrlRequester and send a PR. BTW UrlRequester also does not support HTTP proxies.

[2019-02-22 09:18] ppalaga commented on #271
Taken very strictly, the proposed fix changes the meaning of a param which accounts to breaking the backwards compatibility. At the same time, I admit the proposed behavior might be both useful and what the most users expect based on what the JavaDoc says.

I am ready to accept the fix under the following conditions:

1. You @nfalco79 promise to be ready (anytime in the future) to add an additiona

[2019-02-22 10:00] nfalco79 commented on #271
I know about my English, but [here](https://github.com/mojohaus/license-maven-plugin/issues/218#issuecomment-465191938) seems there was not volunteers to describe parameters in a way that everyone can understand (javadoc was written in my free time at 3 a.m., not "sponsorized" by our society)

About backwards compatibility, actually the goal has not effect on root project of king packaging that me

[2019-02-22 10:13] ppalaga opened #282 "Better document include* and exclude* parameters in AbstractAddThirdPartyMojo"

[2019-02-22 10:22] ppalaga commented on #271
No, I vote for doing it only if somebody comes with a complaint in the future (which very much hope will not happen ;-)

[2019-02-22 10:29] nfalco79 commented on #271
Ok.
I will provide a javadoc on `acceptPomPackaging` to describe the new behavior respect 1.17

[2019-02-22 11:12] #282 closed

[2019-02-22 16:35] ppalaga opened #283 "Add artifactFiltersUrl parameter to all mojos that support artifact includes/excludes"

[2019-02-22 16:42] nfalco79 opened #284 "missingFile property in aggregate-add-third-party is always overrided by the aggregateMissingLicensesFile"
During the implementation of the integration test for #277 we found other issue.
The aggregate-add-third-party goal in init method overrides the missingFile property value with aggregateMissingLicensesFile if valued.
Since the aggregateMissingLicensesFile has a default value this always happens. This means that any missingFile in pom.xml configuration value is overriden.
This is also the cause of

[2019-02-22 21:42] #283 closed

[2019-02-23 18:02] #277 closed

[2019-02-23 18:02] #284 closed

[2019-02-23 18:49] #271 closed

[2019-02-23 20:18] ppalaga commented on #218
We improved the Javadoc in AbstractAddThirdPartyMojo in https://github.com/mojohaus/license-maven-plugin/commit/883a1ef47257b0d8da34ab4fd7025cdf98af13c4
The same actually applies to AbstractThirdPartyReportMojo and AbstractDownloadLicensesMojo and we should eventually port the changes to these mojos too.

There is also a new param `artifactFiltersUrl` in all named mojos which allows for including/

[2019-02-23 20:18] #218 closed

[2019-02-23 20:44] nfalco79 commented on #207
@ppalaga you can close also this issue. Covered by #284

[2019-02-23 20:52] ppalaga commented on #207
@TorstenKruse this should be fixed in 1.18 that will appear in ~72 hrs. Feel free to reopen if it is not fixed there.

[2019-02-23 20:52] #207 closed

[2019-02-23 20:54] nfalco79 commented on #161
You obtain the same result of globalKnowLicenses if you put the missingFile in the root project (the workdir where you ran the mvn command) and execute aggregate-add-third-party.
Instead if you run add-third-party goal value the missingFile property to point to the same file for all module like ${session.executionRootDirectory}/missing properties

[2019-02-24 06:53] ptahchiev commented on #161
I can't put the `missingFile` in the root project, because maybe tomorrow I would like to build only `moduleA` so I will not run maven from the root project.

[2019-02-25 08:22] ppalaga opened #288 "aggregate-third-party-report integration test fails with non English locale"
Reported by @hboutemy via https://groups.google.com/d/msg/mojohaus-dev/1AuEwCubmrg/UPR2LsumAQAJ

[2019-02-25 16:58] elballa opened #291 "licenseMergeUrl parameter produces unreliable result in all report goals"
licenseMergeUrl parameter produces unreliable result in report goals if there is more then one raw in the content of linked file

[2019-02-25 19:44] #291 closed

[2019-02-25 20:28] ppalaga opened #292 "Allow exclusion of optional dependencies"

[2019-02-25 21:48] #288 closed

[2019-02-26 08:01] #292 closed

[2019-02-26 09:12] ppalaga opened #294 "Add licenses-xml-insert-versions mojo"

[2019-02-26 09:39] elballa commented on #291
Hi @ppalaga, do you think there could be possibility to include this fix in the next 1.18 release?

[2019-02-26 10:35] ppalaga commented on #291
No, 1.18 is about to pass the vote today at 8:28:39 PM UTC+1. Nothing can be changed during the vote. 1.19 is your sole hope.

[2019-02-26 10:51] elballa commented on #291
When do you plan to release 1.19?

[2019-02-26 11:27] ppalaga commented on #291
Soonish, probably when I finish https://github.com/mojohaus/license-maven-plugin/pull/295

[2019-02-26 12:51] #294 closed

[2019-02-26 13:56] ppalaga opened #296 "AbstractDownloadLicensesMojo should not download available file without forceDownload=true"

[2019-02-26 14:48] #296 closed

[2019-02-26 14:59] elballa commented on #291
Thanks!

[2019-02-26 20:53] ppalaga opened #298 "Add removeOrphanLicenseFiles param to AbstractDownloadLicensesMojo"

[2019-02-26 21:51] #298 closed

[2019-03-01 10:02] ppalaga opened #301 "https://www.mozilla.org/en-US/MPL/2.0/ delivers unstable content"

[2019-03-02 06:31] ppalaga opened #302 "Introduce ContentSanitizers"

[2019-03-02 08:25] elballa opened #303 "Aggregate-add-third-party mojo is not including optional dependencies by default"
aggregate-add-third-party mojo is not taking care of the includeOptional parameter because its value is not passed to child modules when child mojo is going to be initialized (initFromMojo method call)

[2019-03-02 12:12] #303 closed

[2019-03-04 11:25] ppalaga commented on #301
Will be solved via #302

[2019-03-04 11:25] #301 closed

[2019-03-04 12:07] ppalaga opened #306 "Introduce AbstractDownloadLicensesMojo.useDefaultUrlReplacements"

[2019-03-04 13:18] #302 closed

[2019-03-04 20:03] #306 closed

[2019-03-05 13:21] digulla commented on #227
I just tested with 1.19 and it now works for me with Maven 3.6.0.

[2019-03-05 13:21] #227 closed

[2019-03-06 17:23] ppalaga opened #308 "Dependencies with broken POMs ignored"
I have a project (that I cannot share) having a dependency with system scope and a jar path using a maven property. Building the project model fails and the depencency is ignored due to `continue` in the Exception handler: https://github.com/mojohaus/license-maven-plugin/blob/558e6986409f34ae7319ba1346c9162809fb75b2/src/main/java/org/codehaus/mojo/license/api/DependenciesTool.java#L214

[2019-03-07 11:59] #308 closed

[2019-03-25 14:40] srdo opened #310 "NPE in DependenciesTool when running aggregateAddThirdParty with excludeTransitiveDependencies set to true"
I'm getting an NPE in DependenciesTool.loadProjectDependencies.

The issue seems to be that loadProjectDependencies assumes that all artifacts have a non-null dependency trail.

The artifacts are loaded in loadProjectArtifacts, where reactor projects are excluded as we can't expect Maven to correctly resolve artifacts for projects that may not have been built yet. The method instead replaces react

[2019-03-25 14:45] ppalaga commented on #310
An integration test in https://github.com/mojohaus/license-maven-plugin/tree/master/src/it reproducing the issue would be highly welcome.

[2019-03-25 18:33] srdo commented on #310
I have the relevant bit of an integration test ready at https://github.com/srdo/license-maven-plugin/tree/issue-310/src/it/ISSUE-310. The test isn't done (the assertion and README are wrong), but it provokes the error.

I think the best way to fix this would be to sidestep the issue and get rid of the `excludeTransitiveDependencies` parameter. As far as I can tell, the idea is that if you have a p

[2019-03-26 18:54] chrisinmtown opened #311 "Cannot exclude files from update by name or suffix in v 1.19 with goal license:update-file-header"
I would like to exclude JSON files from being decorated by l-m-p version 1.19 and mvn version 3.5.2 when run as 'mvn license:update-file-header'.  I started with a plugin configuration from the L-M-P example [here](https://www.mojohaus.org/license-maven-plugin/examples/update-file-header-config.html).

The identical problem was reported in #16 on an older version of LMP but closed without action.

[2019-03-26 18:58] srdo opened #312 "FileAlreadyExists exception when organizeLicensesByDependencies is true and a license is cached"
Trying to download licenses with organizeLicensesByDependencies set to true.

[code]

The broken code seems to be https://github.com/mojohaus/license-maven-plugin/blob/license-maven-plugin-1.19/src/main/java/org/codehaus/mojo/license/AbstractDownloadLicensesMojo.java#L1082

I'm not sure what that code is supposed to do, but if the target file is supposed to be overwritten, the copy call should set

[2019-03-26 20:56] srdo opened #313 "Reuse of missing license configuration between AddThirdParty goals and DownloadLicenses"
The reuse of configuration regarding missing licenses could be nicer between the AddThirdParty and DownloadLicenses goals (and aggregate variants).

DownloadLicenses allows you to specify a licensesConfigFile in XML format, which lets you set license URLs for artifacts where the license isn't set correctly.

AddThirdParty lets you specify a missingFile in a custom format, which lets you set or ove

[2019-03-27 08:04] ppalaga commented on #313
In theory yes, but in practice I see them as either one or the other. Why would anyone need both in one project?

I find AddThirdParty's missingFile format impractical as it does not allow to omit dependency versions. I do not think I'll be in favor of supporting AddThirdParty's missingFile in DownloadLicenses.

I have no opinion about supporting DownloadLicenses'es XML in AddThirdParty. If anybod

[2019-03-27 08:13] ppalaga commented on #312
Thanks for the report.

Yes, I think adding CopyOption.REPLACE_EXISTING could fix it.

Looks like we have just two integration tests with `organizeLicensesByDependencies=true" which apparently do not cover this situation. Please add a test in https://github.com/mojohaus/license-maven-plugin/tree/master/src/it that reproduces your scenario and make sure it fails before and passes after applying you

[2019-03-27 08:38] ppalaga commented on #311
Thank for the report @chrisinmtown.

We do have an integration test for `update-file-header` with an `<exclude>` https://github.com/mojohaus/license-maven-plugin/blob/c32075588ce3a6ea3bdb0afecc0bb609232112bf/src/it/update-file-header-test-mojo/pom.xml#L98 and I just checked that the test is correct. So I doubt the plugin is completely broken. Hard to say what is different in your case. Adding an i

[2019-03-27 09:06] ppalaga commented on #310
I think that would be nice for performance reasons too.

In case there is no way to keep `excludeTransitiveDependencies` working in a backwards compatible way, we'd have to release that as a new major version (which I am not against).

Please go ahead and try your idea.

cc @Tibor17

[2019-03-27 09:30] chrisinmtown commented on #311
Thanks for the reply.  Working towards a test. I prepared a zip archive with two files, pom.xml and src/angular.json, trying to attach it here.  Just unpack and run "mvn license:update-file-header" to try. When I do this with mvn ver 3.5.2 it adds a header even tho the configuration is supposed to exclude *.json.

[2019-03-27 10:56] ppalaga commented on #311
You can run a single integration test by issuing

    mvn clean verify -Dinvoker.test=update-file-header-test-mojo

from the root directory of the license-maven-plugin source tree.

Sorry, I prefer getting a pull request with an integration test. If this is really a bug, a fix will not be accepted without a test. By preparing a test, you help to deliver the fix.

[2019-03-27 11:00] srdo commented on #313
I use AggregateDownloadLicenses to download the license texts of my dependencies. I can use the output of this goal (with a bit of hand editing) to grab the licenses I need to include in a redistribution.

AggregateAddThirdParty is useful for generating a readable overview of dependencies along with their licenses. The AddThirdParty groupByMultiLicense template generates a very nice overview compa

[2019-03-27 11:48] ppalaga commented on #313
I tend to think that if the user needs the license files AND some sort of a report, DownloadLicenses is the way to go. It downloads the licenses, and creates licenses.xml that should contain all data necessary to create any human readable report using XSLT, groovy or any other tech at hand.

The config is different for historical reasons. I think DownloadLicenses probably lived independently befor

[2019-03-27 12:18] chrisinmtown commented on #311
Thanks for teaching me how to run tests! I issued that command in the root directory of the source tree, I thought it would run just one test but instead it ran many.  For example it ran test ISSUE-154 which failed. Is there an easy way to run a single test AND leave the output there instead of cleaning?

[2019-03-27 12:50] ppalaga commented on #311
`-Dinvoker.test=update-file-header-test-mojo` should definitely make it run just the single test in `update-file-header-test-mojo` subdir of `src/it`.

It is there https://github.com/mojohaus/license-maven-plugin/blob/c32075588ce3a6ea3bdb0afecc0bb609232112bf/src/it/update-file-header-test-mojo/pom.xml#L80

It may have to do with using and `<execution>` if you have your config under an `<execution>

[2019-03-27 13:07] chrisinmtown commented on #311
Re missing license name, I see it at plugin/executions/execution/configuration/licenseName but the l-m-p seems to require that property at plugin/configuration/licenseName when invoked only via mvn license:update-file-header (?).

So I think my stumbling block here is the maven lifecycle phase.  I guess during 'mvn verify' mvn goes thru all the usual phases including 'process-sources' so the confi

[2019-03-27 13:35] ppalaga commented on #311
Which parts of config are effective with `mvn license:update-file-header` vs. `mvn license:update-file-header@my-execution` is given by Maven rather than license-maven-plugin. license-maven-plugin is not opinionated about whether the mojos are invoked standalone or bound to a phase. Do whatever suits you. Closing as you problem seems to be solved.

[2019-03-27 13:35] #311 closed

[2019-03-27 14:22] ppalaga opened #314 "ErrorRemedy.xmlOutput should log the issues on error level rather than debug"
This is important in CI environments such as TravisCI where there is no access to the build workspace. Messages need to appear in the log too.

[2019-03-27 14:24] chrisinmtown commented on #311
I'm ok with you closing this because I agree that no code change is needed to l-m-p.

Before moving on, would you PLEASE explain how to specify the phase, or what magic to enter or type, so that files are properly excluded when I invoke via 'mvn license:update-file-header'?  That would be a big help from an expert in mojos (whatever that means).

[2019-03-28 10:08] #314 closed

[2019-04-03 13:12] nfalco79 opened #317 "Aggregate third party report fails on multimodule maven that has module with cross dependencies"
We are performing a release `mvn release:prepare release:perform` on a multimodule maven project.
Some module depends from other modules. The typical scenario is:
parent
|->model
|->client (depends from model)
|->web (depends from model)

The release plugin change the version and run a `clean verify` in all pom.xml after that run `deploy site:deploy` goals. The aggregate-add-third-party mojo run o

[2019-04-15 15:28] ppalaga opened #319 "Proxy configuration ignored for download licenses"
Copying the report by @woglinde from https://github.com/mojohaus/license-maven-plugin/pull/316 :

a little bit diffrently with the proxy settings.

allways gets a defaultRequestConfig without a
proxy set and so always tries a directly connection.

The above PR needs an integration test, e.g. using https://github.com/adamfisk/LittleProxy

[2019-04-16 12:47] #319 closed

[2019-04-16 13:03] ppalaga commented on #317
Thanks for the test. A fix is welcome as well.

[2019-04-16 13:33] ppalaga commented on #317
@nfalco79 describes a workaround in https://github.com/mojohaus/license-maven-plugin/pull/318#discussion_r275789310 :

[2019-04-17 10:47] ppalaga opened #321 "Regenerate SpdxLicenseListData from SPDX 3.5"
https://github.com/spdx/license-list-data/blob/v3.5/json/licenses.json

[2019-04-17 15:12] #321 closed

[2019-04-18 08:32] srdo commented on #313
Thanks for explaining. It looks to me like the only features in AddThirdParty that DownLicenses doesn't have are license merging and blacklisting, but hopefully spdx identifiers will help make the first one obsolete, and the second feature useful.

I ran into another limitation of the missingFile format, since I have some dependencies where the project URL is not set. There is no way to override i

[2019-04-18 08:53] ppalaga opened #323 "Blacklisting for download licenses"

[2019-04-18 08:54] ppalaga commented on #313
Indeed, blacklisting is not there. Let's brainstorm in https://github.com/mojohaus/license-maven-plugin/issues/323 how it should work.

What do you mean by license merging?

[2019-04-18 09:00] srdo commented on #313
This feature https://www.mojohaus.org/license-maven-plugin/aggregate-add-third-party-mojo.html#licenseMerges

It's useful because without spdx there is no good unique identifier for a license. It's to avoid e.g. "Apache License v2" and "The Apache Software License 2.0" from showing up as different licenses.

Thanks for raising the other issue. I'll probably be more helpful once I have some more ex

[2019-04-20 20:54] srdo opened #324 "AggregateAddThirdParty (and probably anything else using DependenciesTool) resolves unnecessary artifacts"
On a project with the following dependencies:
[code]
where child2 has the dependency
[code]

the expected behavior is that the license plugin should resolve only hbase-annotations 2.1.3, and thus not resolve jdk.tools. What actually happens is that both hbase-annotations 2.1.3 and 1.1.1 (incldued by hive-hcatalog-core) are resolved. This causes the build to fail on Java 9+.

I'll put up a PR with

[2019-04-20 21:41] srdo opened #326 "Upgrade to Maven 3 APIs and Aether"
It would be good to upgrade to Maven 3 APIs and Aether. It is difficult to implement some features (programmatic dependency resolution for instance) correctly with the old APIs, and they are also deprecated in newer Maven versions.

The plugin could be upgraded to use Maven 3 dependencies, and maven-resolver (Aether).

[2019-04-22 13:04] srdo opened #328 "Publish integration test build files when an Appveyor build fails"
As discussed at https://github.com/mojohaus/license-maven-plugin/pull/325#issuecomment-485395668

[2019-04-22 15:00] #324 closed

[2019-04-22 15:28] #328 closed

[2019-04-24 08:18] #326 closed

[2019-05-02 19:32] ngrigoriev opened #330 "remove-file-header does not restore the files to the original state"
I was under assumption that "remove-file-header" goal would restore my files to their original state, as they were before using update-file-header. I currently observe (plugin version 1.20) the following issues:

1. Generated headers are NOT being removed from the following files in my project: Dockerfile, *.sh
2. Removing the header leaves an empty line at the top of each file at least for *.java

[2019-05-03 06:47] ppalaga commented on #330
A reproducer in form of an integration test under https://github.com/mojohaus/license-maven-plugin/tree/master/src/it would be highly welcome.

The bottom line is that there is no test for `remove-file-header` mojo yet, so no wonder that it is broken.

[2019-05-08 16:06] uvwild commented on #78
I did remove the local repository to no avail!
anyone else?

[2019-05-08 16:50] uvwild commented on #78
The solution is to add additional dependencies to the plugin config.
This solves the missing class issue and moves on.
I had to add 4 dependencies until it worked.
I think some older plugins are seriously messed up in terms of dependencies.

[2019-05-08 20:14] ppalaga commented on #78
@uvwild please file a new issue if you see this happening with the newest license-maven-plugin version.

[2019-05-09 14:52] digulla opened #331 "overrideUrl doesn't work"
There is a bug in the code which processes the overrideUrl in org.codehaus.mojo.license.LicenseMojoUtils.prepareUrl(String, File, String, File, String):

        final Path basedirPath = basedir.toPath();

        if ( url != null && UrlRequester.isStringUrl( url ) )
        {
            return basedirPath.toUri().toString();
        }

        final Path defaultPath = basedirPath.resolve( defaul

[2019-05-09 15:00] ppalaga commented on #331
A couple of unit tests under https://github.com/mojohaus/license-maven-plugin/tree/master/src/test/java/org/codehaus/mojo/license would be highly welcome that would cover not only this broken case but also the cases that work properly now.

[2019-05-09 16:21] digulla commented on #331
Can you please include the fix in 1.21? I tested it locally and without the fix, the functionality is completely broken for us.

You can then leave this issue open to add the unit tests later or create another issue for the tests.

[2019-05-09 16:25] digulla opened #332 "License plugin sends mixed signals for multi-license projects with forbidden licenses"
I have a problem with this dependency:

[code]

In my config, I'm allowing APLv2 but forbid (with `<excludedLicenses>`) GPLv2.

I would prefer not to get the warning in this case.

[2019-05-09 18:05] ppalaga commented on #331
I am ready to review a PR from you and I will require the tests to merge it. The tests are for your own safety, so that it cannot happen that somebody breaks your stuff next day after the fix was merged.

Once the PR is merged, I have no problem to release promptly.

[2019-05-10 09:11] digulla opened #334 "aggregate-add-third-party: Many warnings about unused dependencies"
I have a multi-module project. One module depends on org.apache.httpcomponents:httpclient:4.1.2 which uses the generic string "Apache License" in the POM (it's APLv2).

In order to get the correct version of the license in our legal reports, I added an override URL to the plugin configuration.

I'm now getting a dozen repetitions of this:

[code]

I don't think this warning makes sense for the goa

[2019-05-10 11:40] ppalaga commented on #334
Could you please look whether this one is not a duplicate of https://github.com/mojohaus/license-maven-plugin/issues/201 and eventually close the current issue?

[2019-05-10 11:41] ppalaga commented on #334
BTW there is a PR for #201 with unresolved review requests https://github.com/mojohaus/license-maven-plugin/pull/300 You may want to check whether the fix works for you and eventually add the missing parts so that it can be merged.

[2019-05-10 12:06] digulla commented on #211
The two options `overrideUrl` and `missingFileUrl` solve this issue for me.
I created a Maven project which just contains two text files. I add that project as a dependency to the *plugin* and then, I can reference the text files using `classpath:` URLs.

[2019-05-10 12:09] digulla commented on #334
Duplicate of #201
Note: #201 talks about another but related error message logged by `DefaultThirdPartyTool.loadUnsafeMapping()`

[2019-05-10 12:09] #334 closed

[2019-05-10 15:48] digulla commented on #201
I tried to fix this using different strategies but I can't find a way to get a `org.codehaus.plexus.logging.Logger` in `AggregatorAddThirdPartyMojo`. Any ideas?

[2019-05-10 18:31] srdo commented on #323
I am wondering if we could get away with only supporting SPDX identifiers for this? The way I see it, a blacklisting mechanism needs to be reliable, as it is most likely being used to fail the build if a specific license (e.g. GPL v2.0) makes it into the dependency tree. I don't think it is very useful to e.g. ban GPL v2.0 if an artifact with that license may make it into my tree anyway, because s

[2019-05-12 13:12] #331 closed

[2019-05-13 14:39] ppalaga commented on #323
I do not think this is ever going to happen. Having researched a bit, I found no trace of SPDX license IDs being intended to be used in that way. My understanding is that the IDs are primarily meant to be used in source files, rather than annotate whole software packages. See e.g. https://spdx.org/ids .

*SPDX Document* is the concept intended for software packages (such as Java JARs): https://spd

[2019-05-13 17:57] goneall commented on #323
@ppalaga Currently, the SPDX maven plugin can aggregate licenses, but it requires configuring the licenses in the POM file for the project which is admittedly a very tedious effort of you have a lot of different licenses.

I have avoided doing any kind of source scanning in the plugin due to the compute time and inaccuracy for most scanners.

After reading this thread, however, I think it would be

[2019-05-17 09:06] ppalaga commented on #323
@goneall thanks for the details about the SPDX maven plugin.

There is still one thing unclear to me: given a SPDX document like this one: http://central.maven.org/maven2/org/spdx/spdx-tools/2.1.16/spdx-tools-2.1.16.spdx is there any single place in the document saying that the artifact as a whole is Apache 2.0 licensed?

Or I really have to loop over all hasFile (or other) elements and figure out

[2019-05-17 17:55] goneall commented on #323
There is an `spdx:licenseConcluded` and `spdx:licenseDeclared` associated with the SPDX package itself.  The licenseDeclared is what was found in the Maven POM file for the originating package while the licenseConcluded includes the declared license plus any licenses found in the dependencies.

The licenseDeclared from the spdx-tools-2.1.16.spdx file: `Apache-2.0`

The licenseConcluded from the sp

[2019-05-20 13:53] ppalaga commented on #323
Thanks for the clarifications, @goneall !

[2019-06-04 12:33] digulla opened #337 "Use slf4j over old logging APIs in Maven"
Change the code to use slf4j loggers everywhere.

Reasons:

- We have Mojo code which uses the Mojo logger
- We have other code which uses a Plexus logger
- We have code used from both places which would benefit from logging and jumps to hoops to make it happen.

If we used the underlying slf4j logging framework directly, every part of the code could use the same logger type and everyone could ask

[2019-06-04 12:33] digulla commented on #337
Necessary to fix #201
Without this, some methods will have too many parameters.

[2019-06-05 09:54] digulla commented on #337
Please let me know if you'd accept a PR for this.

[2019-06-16 07:24] srdo opened #338 "Plans for 1.21 release"
Hi,

Any chance 1.21 gets released soon? It would be nice to get https://github.com/mojohaus/license-maven-plugin/pull/325 out, it's breaking one of my builds.

Thanks for your efforts btw.

[2019-06-16 07:33] srdo commented on #323
@ppalaga Sorry for not getting back to this. Thanks for explaining, I misunderstood how SPDX is supposed to work.

My hope would be that the license plugin could get the SPDX document associated with an artifact (not sure if SPDX has a standard for how to publish these on Maven, e.g. with a classifier?). If an artifact already has an SPDX document, we can look at that to derive the list of license

[2019-06-19 12:13] ppalaga commented on #337
Sorry for the delay, I was travelling and had PTO in recent weeks.

Thanks for the proposal and for being ready to contribute.

I agree with the idea and I prefer the `private static final` variant.

Please use the place holders (`log.info("Processed {} resources", resourcesCount)`) rather than string concatenation (`log.info("Processed "+ resourcesCount +" resources")`)

The only issue I can thin

[2019-06-19 12:31] ppalaga commented on #323
I recently discussed this with @goneall : https://github.com/spdx/spdx-maven-plugin/issues/16

I think the existing options of DownloadLicensesMojo already cover all we need. The output of the mojo is a `licenses.xml` file (as complete and manually enhanced as the user wishes) and the downloaded licenses.

[2019-06-19 13:15] ppalaga commented on #338
I'd do it in a couple of days, ideally after merging @digulla 's PR for https://github.com/mojohaus/license-maven-plugin/issues/337

It is going to be major++ because now we require Maven 3.5.0+.

[2019-06-19 15:08] srdo commented on #338
Sounds good, thanks.

[2019-06-21 08:13] digulla opened #340 "Don't use getLog().isDebugEnabled() to determine the "verbose" flag"
The code currently calls `getLog().isDebugEnabled()` to set the verbose flag.

In the code, I see patterns like these:

- if (isVerbose()) StringBuilder buffer = ...; log.info(buffer)
- if (isVerbose()) log.info(details)

This feels like a hack to get logging at a level between INFO and DEBUG.

I suggest to get rid of the "verbose" flag and always log at DEBUG level for these.

For the blocks that

[2019-06-21 08:57] digulla opened #341 "Use strategy pattern to load property-like files"
For features like missingFile(Url), licenseMergesFile/Url and overrideFile/Url use a strategy pattern to load the resource so we don't have to pass several strings around.
All those strategies need to return `SortedProperties`.
This would allow to reuse the code to load those property-like files from any source (incl. common error handling).
It would also reduce the number of parameters / fields c

[2019-06-22 13:57] ppalaga commented on #340
What would happen with the `verbose` Mojo parameter?

[2019-06-22 14:09] ppalaga commented on #341
I am open to see the PR. Please note that the number of added lines of code must be proportional to the declared purpose. I see this as a refactoring that should be neutral or ideally negative in terms of added LoC.

[2019-06-22 14:10] #337 closed

[2019-06-22 14:14] ppalaga commented on #338
I am about to release.

[2019-06-22 14:14] #338 closed

[2019-06-22 14:25] ppalaga commented on #228
Windows users, I am still open to accept a `.gitattributes` patch that would be better maintainable than the [original proposal](https://github.com/digulla/license-maven-plugin/blob/4e6a692955e28492480918c06e2b6a5332920ce2/.gitattributes). I'd like to see `lf` set for all (`*`) and `crlf` for the few exceptions that we currently have. I am not sure `.gitattributes` options allow for something like

[2019-06-22 14:28] ppalaga commented on #219
@Tibor17, could you please check if the current issue was solved by https://github.com/mojohaus/license-maven-plugin/pull/325 ?

[2019-06-22 15:17] ppalaga commented on #338
Release voting is open https://groups.google.com/forum/#!topic/mojohaus-dev/bdKRUDPztI4

[2019-06-27 07:54] mazze5 opened #343 "Missing Version 2.0.0 in Maven-Central"
Hi,
I can't find version 2.0.0 in the maven central. Only version 1.20.0 is available https://search.maven.org/search?q=g:org.codehaus.mojo%20a:license-maven-plugin

[2019-06-27 08:47] ppalaga commented on #343
Sorry, I forgot to hit the button in oss.sonatype.org after the voting was over, because I am on travel. Done it now the artifacts should become visble on Maven Central within ~40mins. Thanks for reminding me.

[2019-06-27 08:47] #343 closed

[2019-07-03 13:58] #228 closed

[2019-07-03 14:01] ppalaga commented on #228
For the record: @kingle [says](https://github.com/mojohaus/license-maven-plugin/pull/344#issuecomment-508091416) that users that cloned the repo before #344 was merged, may need to "re-clone or `git reset --hard`".

In case somebody thinks this is worth documenting (I do not) in the README, please feel free to send a PR.

[2019-07-05 15:30] jamesagnew commented on #114
A note to anyone else who finds this ticket: The feature added in #99 seemed to resolve this for me! This is awesome.

[2019-07-05 15:35] ppalaga commented on #114
`trimHeaderLine` sounds like a valid solution. Closing.

[2019-07-05 15:35] #114 closed

[2019-07-22 11:14] OrangeDog opened #345 "Unnecessary warning for licenseMergesUrl"
If `licenseMergesUrl` is used then a warning is logged, even if `licenseMerges` is not configured.

[2019-07-26 06:16] cforce opened #346 "3rd party license download from central stopped working"
`[INFO] Downloading from central: https://repo.maven.apache.org/maven2/io/reactivex/rxnetty-servo/0.4.9/rxnetty-servo-0.4.9-third-party.properties
[INFO] ------------------------------------------------------------------------
[INFO] Reactor Summary for racp-telemetry-data 20190723.1-d9a13b2:
[INFO]
  dev-azure-com-myorg-mpv-myproject (https://pkgs.dev.azure.com/myorg-mpv/_packaging/myproject/mave

[2019-07-26 07:00] ppalaga commented on #346
Which version of the plugin are your using? Could you please post the complete configuration of the license plugin execution that causes the problem (e.g. run with `-X` and copy it from the console)?

[2019-07-27 21:48] cforce commented on #346
Bewlow is the effextive POM from eclipse, not sure if thata is enough.
I worked around in the mean time by passing -Dlicense.skipAddThirdParty

`<plugin>
        <groupId>org.codehaus.mojo</groupId>
        <artifactId>license-maven-plugin</artifactId>
        <version>1.10</version>
        <executions>
          <execution>
            <id>add-third-party</id>
            <goals>
              <

[2019-07-28 20:56] ppalaga commented on #346
Could you please try to reproduce  with the latest version (currently 2.0.0) of the plugin?

[2019-07-29 14:07] heapifyman opened #347 "trimHeaderLine removes empty lines from license text in html files"
Assume your license text looks like this (with a blank line somewhere in the middle):
[code]

If you set `trimHeaderLine=true` license-maven-plugin will correctly trim trailing white spaces in Java files (and all other file types where each line of the resulting license header is starting with a comment symbol), e.g.:

[code]

But in html files, the blank line will be **removed** when running the

[2019-07-29 15:25] ppalaga commented on #347
It would be highly welcome if a volunteer could extend [update-file-header-test-mojo integration test](https://github.com/mojohaus/license-maven-plugin/tree/master/src/it/update-file-header-test-mojo) to reproduce the named scenario:

* Add an HTML file to the test project
* Add an execution to the plugin config so that the mojo is run twice on the same HTML file.
* Add an appropriate assertion to

[2019-07-30 13:21] albran45 commented on #346
I´ve tested it and the following error occurs with Version 2.0.0.:
`[ERROR] Failed to execute goal org.codehaus.mojo:license-maven-plugin:2.0.0:add-third-party (add-third-party) on project energy-management-gateway-app: could not execute goal AddThirdPartyMojo for reason : ArtifactResolutionException: Unable to locate third party descriptor: Could not transfer artifact org.springframework:spring-j

[2019-07-30 14:21] ppalaga commented on #346
Please run with `-X` find the effective configuration of the plugin in the console output and paste it here.

[2019-07-31 06:26] albran45 commented on #346
There you go:
`

[ERROR] Failed to execute goal org.codehaus.mojo:license-maven-plugin:2.0.0:add-third-party (add-third-party) on project energy-management-gateway-app: could not execute goal AddThirdPartyMojo for reason : ArtifactResolutionException: Unable to locate third party descriptor: Could not transfer artifact com.google.errorprone:error_prone_annotations:properties:third-party:2.0.18 fro

[2019-07-31 09:54] ppalaga commented on #346
No, what you posted is a stack trace, not the config. Please find the last occurrence of `[DEBUG] Configuring mojo 'org.codehaus.mojo:license-maven-plugin:` in the console output and paste everything starting there up to the end.

[2019-07-31 11:28] albran45 commented on #346
Oh, I am sorry, here is the configuration:
[code]

[2019-08-05 13:22] #139 closed

[2019-08-05 15:36] heapifyman commented on #347
I could not reproduce the bug in the integration test.

But I attach here a minimal example project [license-test.zip](https://github.com/mojohaus/license-maven-plugin/files/3468331/license-test.zip), which demonstrates it. Just unzip and run `mvn clean compile`.

It seems that the issue is somehow related to the setting `canUpdateDescription` because when I comment out that setting, the bug does

[2019-08-06 06:48] ppalaga commented on #346
Might some `add-third-party` expert (e.g. @digulla, @nfalco79, @elballa) please have a look at the data above and try to explain why the mojo attempts to download `https://repo.maven.apache.org/maven2/io/reactivex/rxnetty-servo/0.4.9/rxnetty-servo-0.4.9-third-party.properties`. Please eventually also decide whether this a bug or just a bad configuration and propose what can be done about that?

[2019-08-09 16:49] nfalco79 commented on #346
For what I remember the `add-third-party` goal lookup for a property file to create a map of unsafe licenses. This property file could be store between source files or stored as a maven dependency. Normally when maven does not found an artifact the server responde with a 404.
From logs seems you are using a maven repository proxy like artifactory, Nexus or other software than returns a wrong HTTP

[2019-09-04 12:01] AnatolyPopov opened #351 "License override does not work for third-party dependencies with multiple licenses"
When I'm trying to use license overriding for a library that have multiple licenses only first license from the list is overridden.
Example:
in generated THRID-PARTY.txt

` (ALS 2.0) (GPL v2) (MPL 1.1) RabbitMQ Java Client (com.rabbitmq:amqp-client:5.1.2 - http://www.rabbitmq.com)`

When I add

`com.rabbitmq--amqp-client--5.1.2=Apache Software License - Version 2.0`

to override-THIRD_PARTY.txt fi

[2019-09-04 20:09] ppalaga commented on #351
Might some `add-third-party` expert (e.g. @digulla, @nfalco79, @elballa) please state whether the above behavior is expected?

[2019-09-05 16:35] AnatolyPopov commented on #351
@ppalaga This is clearly a bug. As I can see in the code only the first license in alphabetical order is overridden. Another example:
a library have
`(Apache Software License - Version 2.0) (Eclipse Public License - Version 1.0) Jetty :: Continuation (org.eclipse.jetty:jetty-continuation:9.4.11.v20180605 - http://www.eclipse.org/jetty)`

and  override-THIRD_PARTY.txt file contains

`org.eclipse.je

[2019-09-09 18:11] digulla commented on #351
My first instinct would be to reject the override since the project has a license and we shouldn't ignore them on a whim. Unfortunately, many projects have an wrong / useless license name ("apl" - is that Apache? 1.0, 1.1 or 2.0? Or something else entirely?).

I'd suggest to log at INFO level which licenses we override (if the project has some) and then replace the list with the override.

[2019-09-10 08:59] Serranya opened #352 "NPE in aggregate-third-party-report"
I get the following exception:

This seems to be different from #310

[code]

Edit:
A reproducer is provided in #353

[2019-09-13 19:29] cforce commented on #346
So you say that its a bug (in my case) in azure devops maven artifact repo?
Oh dear, now i have to file an issue for them :-/

[2019-09-16 07:48] digulla commented on #346
It's not downloading from Maven Central but uses this URL:

    https://pkgs.dev.azure.com/daimler-mic/_packaging/daivb/maven/v1/...

which fails with 500 (Server error). 500 usually means that code on the server crashed before it could set a real HTTP code (like "not found" or "unauthorized). It's a problem in the code running on `pkgs.dev.azure.com`.

[2019-09-16 07:50] digulla commented on #346
One thing that you can try is to fetch the URL youself, for example with a little shell script which you run in your build. Try `curl -i`. Sometimes, servers include a stack trace or additional information in the response.

[2019-09-22 19:01] Stephan202 opened #354 "`ConcurrentModificationException` running `add-third-party` goal"
Today I observed the following build failure, after many successful executions of the `add-third-party` goal in various large (concurrent) Maven builds:
[code]

The issue is that `DefaultThirdPartyHelper#artifactCache` is shared between (and updated by) multiple threads without sufficient synchronization. I'll open a PR with a suggested fix.

[2019-09-24 09:23] brabenetz commented on #326
Is the exact Maven Version "3.5.4" really needed?
I had  a problem with Travis-CI which seems to use Version "3.5.2":
https://travis-ci.org/brabenetz/secured-properties/jobs/588693548

[2019-09-24 14:16] srdo commented on #326
@brabenetz See https://github.com/mojohaus/license-maven-plugin/pull/327. It's possible the plugin may work with 3.5.2. Oldest version tested was 3.5.4 through this repo's Travis setup. It's odd that yours is using an older Maven.

You could try reducing the version to 3.5.2 and see if the tests pass on version 3.5.2?

Alternatively you can upgrade Maven as part of your build, see https://github.c

[2019-09-24 22:15] brabenetz commented on #326
@srdo
FYI, I found out why your build run with maven 3.5.4
You using "mvnw" script in your root-repo (travic-ci detects that and uses it), which will download the exact version 3.5.4 (This maybe slow down your build).

I will just wait until travis-ci updates there images, and update the license-maven-plugin later.
thanks.

[2019-10-11 20:13] chrisinmtown opened #356 "LMP version 1.20 declares files up-to-date despite changed organization name in config"
Does the update feature notice changes to the plugin configuration? I'm using l-m-p version 1.20 with maven 3.5.2.

I've decorated Java files with license headers using L-M-P.  Today I had to change the organization name slightly, which I did in the <configuration> section of the project pom file.  Then I ran `mvn license:update-file-header` expecting all the files to be tweaked. But the plugin di

[2019-10-14 17:41] heapifyman commented on #347
Meaning, I am not familiar enough with this project's test framework. I am not really sure what needs to be changed to create the necessary tests and assertions.

Any hints?

[2019-11-18 16:09] Master-Code-Programmer opened #357 "Forked a version which can download much more detailed license information"
For every Open Source Software (OSS) we use, our customer wants an extensive license report.
This plugin is almost perfect for that, except:
* The aggregate-third-party goal writes (although formatable) just text-files
* The aggregate-download-licenses write a nice xml, but with even less information - the project/plugin name is missing.
* But the more important thing: Our customer needs, also wit

[2019-11-26 08:22] hohwille opened #358 "NPE on site generation"
In my project site-generation fails if `license-maven-plugin:2.0.0` is configured.
[code]
Stacktrace:
[code]

[2019-11-26 08:27] hohwille commented on #358
NPE happens here:

https://github.com/mojohaus/license-maven-plugin/blob/d47178b5c58d74714bda202e358bf7927ec67788/src/main/java/org/codehaus/mojo/license/api/ResolvedProjectDependencies.java#L50

So the provided `Set` (`allDependencies`) to make immutable is already `null`.

[2019-11-26 08:30] hohwille commented on #358
According to your tag `license-maven-plugin-2.0.0` this line is empty:

https://github.com/mojohaus/license-maven-plugin/blob/license-maven-plugin-2.0.0/src/main/java/org/codehaus/mojo/license/AbstractThirdPartyReportMojo.java#L599

[2019-11-26 08:32] hohwille commented on #358
So `project.getDependencyArtifacts()` was `null` in my case? Strange...

[2019-11-26 12:11] hohwille commented on #358
Breaking the entire site build with an exception is always bad. However, just tested to downgrade to version `1.20` and the problem is gone. So maybe easy to fix and ship a `2.x.y` version.

[2019-11-26 13:26] planetf1 commented on #358
I was just about to raise the same issue! Getting exactly the same when trying to build the third party aggregate report - NPE.

[2019-11-26 13:28] planetf1 commented on #358
can confirm 1.20 does not exhibit this problem

[2019-11-26 13:54] planetf1 opened #359 "MultipleArtifactsNotFoundException - no way to skip (generated code)"
I have a multi module project.

One of the submodules is generated code - which is then depended upon by other modules
So a 'maven clean install' etc all works fine.

However when introducing the aggregate-third-party-report with the license-maven-plugin, this generated artifact is reported as missing.

results in
[code]
[ERROR] Failed to execute goal org.apache.maven.plugins:maven-site-plugin:3.8

[2019-11-26 15:25] planetf1 commented on #359
Closing - this may be a project error.

[2019-11-26 15:25] #359 closed

[2019-12-04 14:11] wollefitz commented on #351
Did you come to a decision on how to treat this case yet? We're generating our license book with `add-third-party` and would like to be able to override licenses for dependencies that let you choose between multiple licenses with the chosen one.

[2019-12-13 13:51] Vlatombe commented on #312
This happens if a dependency with the same ga appears several times in the dependency tree with different versions. Since the current [filename mapping](https://github.com/mojohaus/license-maven-plugin/blob/master/src/main/java/org/codehaus/mojo/license/AbstractDownloadLicensesMojo.java#L1130-L1133) doesn't contain the version, the second execution fails.

[2020-01-06 16:05] lrozenblyum opened #361 "sortArtifactByName: artifacts with the same name are lost"
SCENARIO:
Try executing
`mvn license:add-third-party -Dlicense.sortArtifactByName=true`

on a project like this:
[code]

EXPECTED:
the result license file contains multiple lines for Smack and XMPP dependencies

ACTUALLY:
the result license file contains just single lines for Smack and XMPP.
For example org.igniterealtime.smack:smack-extensions:4.1.6 is missed

Workaround: disabling license.sortAr

[2020-01-17 12:44] ST-DDT opened #365 "Add project variable to add-third-party template context"
I would like to change the header in the file to contain the actual project's name.

[code]

[2020-02-11 12:47] kwin opened #366 "Clarify "excludes""
The documentation at https://www.mojohaus.org/license-maven-plugin/check-file-header-mojo.html#excludes does not really state:

- Against which path the exclude is compared (full absolute file name, module relative file name, file title)
- Which wildcard patterns are supported?

[2020-02-11 12:51] kwin commented on #366
I just figured out by looking at looking at https://github.com/mojohaus/license-maven-plugin/blob/01fd9a1c560fb608e721de0cb1673a29805a40cd/src/main/java/org/codehaus/mojo/license/AbstractLicenseNameMojo.java#L291 that excludes are matched against the relative path below the roots (https://www.mojohaus.org/license-maven-plugin/check-file-header-mojo.html#roots).

[2020-02-14 13:13] rthaenert opened #367 "Possibility to add scope to file"
Hey,

i didnt' find anything for that in the documentation:
Is there a possibility to add the scope of the pom.xml in the generated xml?
We would like to keep the generated xml file for thirdparty-licenses together with the scope information from the project's dependencies.

If not would it be a good idea to create a PR for that?

[2020-02-26 09:44] weickmanna commented on #54
Same issue here. We are using standard apache_v2 license.
Our config:

[code]

Error goes away if I:

- Remove failOnNotUptodateHeader (which is what I want to use however)
- Remove both canUpdateCopyright and canUpdateDescription flags (which I want to use however to make the license header check more strict, since project names can get messed up if files are copied from other projects)

[2020-03-02 15:45] lrozenblyum opened #369 "Unclear url for a dependency"
Let's have a pom.xml
`<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>
    <groupId>com.leokom</groupId>
    <artifactId>license-maven-test</artifactId>
    <version>

[2020-03-25 15:20] taringamberini opened #370 "maven-chekstyle-plugin complains about trailing spaces"
Maven-chekstyle-plugin complains about trailing spaces:
[code]
The problem is the space after the `*` in the blank line that separates paragraphs.

[code]

Best regards,
Tarin

[2020-03-25 15:30] taringamberini opened #371 "license:remove-file-header changs file encoding"
I'm using:

    <groupId>org.codehaus.mojo</groupId>
    <artifactId>license-maven-plugin</artifactId>
    <version>2.0.0</version>

I've UTF-8 encoded files.

After running license:remove-file-header the files which previously had license header are no more UTF-8 encoded.

I've attempted several configurations using the `encoding` tag but without success.

Best regards,
Tarin

[2020-03-27 07:16] Tibor17 commented on #358
@ppalaga
This trivial NPE should be fixed asap. It is very annoying to see a broken build because of NPE!

[2020-04-01 01:33] jeacott1 commented on #126
same problem, still get this with 2.0.0

[2020-04-06 12:50] aetius1 opened #372 "Difference between download-licenses and add-third-party goals in Maven License Plugin"
I am experimenting with Maven License Plugin in order to generate the third party list of licenses for my app.At my current findings it looks like the download-licenses goal is downloading all the available licenses to license.xml , i am struggling to understand what value does the add-third-party bring , as it seems like i dont need it, was download-licenses will do the same job ? Perhaps i am mi

[2020-04-25 09:29] lama0206 commented on #351
We have the same issue here - we're generating a license overview of the dependencies so that we can easily provide our customers with the sources of the libraries that require source distribution (their licenses, that is). To avoid delays (due to discussions), we'd like to override the licenses where one can choose.

Overriding only the lexicographically first license (which is the current implem

[2020-04-25 19:50] lama0206 commented on #88
The resolution of #351 provides a solution for this issue as well, imho.

You could argue that overriding is not the same as selection though - but since
* you can add comments to the override properties file and
* specify the override for an explicit version of the dependency
it seems to me that errors are unlikely since you cannot accidentally override a license when you update the dependency. T

[2020-04-28 21:49] Jojor commented on #369
I may have a similar issue, with guava dependency it generates the following URLs:

[code]

[code]

URLs `https://github.com/google/guava/guava` gives a 404 not found on GitHub because the correct URL is `https://github.com/google/guava/`. It looks like the artifact id is also append to the base url that is [correctly set](https://github.com/google/guava/blob/master/pom.xml#L13) in the library's p

[2020-05-05 23:11] cwholmes opened #375 "Artifact cache can have memory issues for large projects"
The artifact cache being static allows it to be retained throughout the entire maven build. This can have a pretty large impact on the overall build for larger projects.

I have seen it use more than 10MB of heap storing the maven projects. (Not the biggest impact, but can cause heap issues since it is static and won't get cleaned up until the end of the maven process)

The project has 63 modules.

[2020-05-06 16:48] cwholmes commented on #375
Had an instance where the heap used was over 130MB.

Copied from heap hero.
[code]

[2020-07-02 11:43] ChrissW-R1 opened #378 "Error in version 2.0.0 by using it in reporting"
I've updated the license-maven-plugin from version 1.20 to 2.0.0. In the old version every was fine, but after the update the maven-site-plugin crashes.

The license-maven-plugin was added to the reporting block to ensure, the licenses of the third party dependencies were downloaded and added to the generated artifact.

You could see the configuration here:
https://github.com/ChrissW-R1/general-pa

[2020-07-06 09:17] davenice opened #379 "Unable to customize copyright format."
Currently, copyright statements are always in the format:
`Copyright (C) 2020 <company>`

But my organisation requires this format:
`(c) Copyright <company> 2020.`

This aspect of the tooling should be configurable by users.

[2020-07-06 11:44] rw026 opened #381 "Unable to retrieve license from URL 'http://openjdk.java.net/legal/gplv2+ce.html'"
I am not able to execute the download-license goal anymore. The following configuration has worked for months but since today it fails in a read timeout.

**Plugin Configuration**
[code]

Failing reason: `Unable to retrieve license from URL 'http://openjdk.java.net/legal/gplv2+ce.html' for dependency 'org.jboss.spec.javax.annotation:jboss-annotations-api_1.3_spec:1.0.1.Final': Read timed out`.

I

[2020-07-06 12:34] #381 closed

[2020-07-14 09:17] mthmulders opened #382 "Use of missingFile in multi-module projects"
I have a few large multi-module projects, where I'd like to report on the 3rd-party licenses being used. I use `mvn license:aggregate-add-third-party license:aggregate-third-party-report` for that.

From debugging I noticed that, even though I run in aggregation mode, the plugin expects the _missingFile_ to live in the submodule. I was a bit surprised by that. Somehow I hoped I could write such a

[2020-07-14 09:43] mthmulders opened #383 "Use of licenseMergesUrl in multi-module projects"
I have a few large multi-module projects, where I'd like to report on the 3rd-party licenses being used. I use mvn license:aggregate-add-third-party license:aggregate-third-party-report for that.

From debugging I noticed that the forked _add-third-party_ goal (on the submodule) does not have access to the licenseMergesUrl parameter. I would expect the [AddThirdPartyMojo#initFromMojo()](https://gi

[2020-07-15 14:48] HenningL opened #384 "Unable to use licenseResolver with classpath. LicenseRepository throws error with lack of "baseUrl""
This applies to all mojos using "org.codehaus.mojo.license.model.LicenseRepository" with classpath licenseResolver:

UpdateProjectLicenseMojo for reason : no baseURL defined in org.codehaus.mojo.license.model.LicenseRepository

[INFO] --- license-maven-plugin:2.0.0:update-project-license (update-project-license) @ cast-core ---
[INFO] Adding a license repository jar:file:/C:/Users/hluth/.m2/reposi

[2020-07-15 18:21] HenningL commented on #384
Ok after reading the code i forked that one for me and added some code to it. Dont think that the current "classpath" logic can access 3rd party dependencies, so i added:

`else if ( extraResolver.startsWith( DEPENDENCY_PROTOCOL ) )
        {
            extraResolver = extraResolver.substring( DEPENDENCY_PROTOCOL.length() );
            LOG.info( "Using dependency extraresolver: {}", extraResolve

[2020-09-16 14:17] JSurf opened #385 "Option to use curation data from clearlydefined.io"
Feature request
https://clearlydefined.io/about

Clearlydefined is an free open database with community curated license information. Sometimes libraries are missing license information or are claiming a wrong license. Clearlydefined could help in curate that data and give more accurate results.
it provides an API to query artifacts

Having this as an option to enable would be great

[2020-10-07 04:31] allan-shoup opened #386 "Override Unsuccessful On Dual-License Dependency"
Adding an override for a dual license dependency fails to override all the licenses.
For example, if src/license/override-THIRD-PARTY.properties contains:
[code]

The license report still lists both of the following licenses for logback-classic:
[code]

[2020-10-12 14:23] frant-hartm commented on #86
Similarly the `add-third-party` is not thread safe.

@tchemit Could it be made thread-safe? Should I create a separate issue for that? Are there any changes needed to the plugin? I would be happy to contribute if you could point me in the right direction.

[2020-11-15 12:41] Jurrie commented on #382
Hi Maarten,

I am currently in the process of introducing the license plugin in our stack. It's a large multi-module stack as well. I do not encounter the problem you are reporting. I use the following configuration directive:

`<missingFile>${maven.multiModuleProjectDirectory}/missing-THIRD-PARTY.properties</missingFile>`

Maybe you can also use `${maven.multiModuleProjectDirectory}`?

With kind

[2020-11-15 12:45] Jurrie opened #396 "Multi-level multi-module project incorrectly resolves missing file"
When using a multi-module project with multiple level of child projects, the missing file is incorrectly resolved and gives an IndexOutOfBoundsException. I have an integration test and a fix ready; I will create a pull request for this issue next.

[2020-11-17 13:20] Jurrie commented on #396
I've switched to not-using a missing file (using the override file to specify missing licenses instead).

Actually, I think I misunderstood the missing file... It's more a template file, which gets recreated sometimes even. I was confused because of the `useMissingFile` configuration directive. Should that even be possible? Shouldn't users use the override file instead, and have the missing file b

[2020-11-17 13:20] #396 closed

[2020-11-18 07:02] mthmulders commented on #382
Hi Jurrie,

Thanks for this suggestion. I am no longer involved with the large multi-module project where I was seeing this issue. This means I'm not able to verify if your proposed solution works. I've forwarded your comment to somebody who (as far as I know) is still working on that project.

[2020-11-20 19:10] sta4152 opened #398 "OOM for large multi-module maven project"
Having a large multi-module project of ~170 modules (tree, up to 4 levels, not just a flat list of sub-modules).
There are several "heavy-weight" dependencies involved, e.g. camel, karaf, spring, activemq, jetty
It builds fine (mvn clean install) with 2G max heap for maven build (MAVEN_OPTS).
It fails with OOM on running "mvn package license:add-third-party". Even with increasing max heap to 12G.

[2020-12-07 23:48] nateprice opened #399 "The thread is stuck when fetching https://glassfish.dev.java.net/public/CDDL+GPL_1_1.html"
When I run the maven plugin it stops processing when it calls https://glassfish.dev.java.net/public/CDDL+GPL_1_1.html java.net is down also.

[WARNING] Unable to retrieve license from URL 'https://glassfish.dev.java.net/public/CDDL+GPL_1_1.html' for dependency 'org.jboss.spec.javax.xml.bind:jboss-jaxb-api_2.3_spec:1.0.1.Final': Certificate for <glassfish.dev.java.net> doesn't match any of the subj

[2020-12-10 18:31] nateprice commented on #399
I let it sit over night and came back to this error

---------------------------------------------------
Exception in thread "main" java.lang.StackOverflowError
	at freemarker.core.AddConcatExpression$ConcatenatedSequence.size(AddConcatExpression.java:186)
	at freemarker.core.AddConcatExpression$ConcatenatedSequence.size(AddConcatExpression.java:186)
	at freemarker.core.AddConcatExpression$Concate

[2020-12-10 20:06] #399 closed

[2020-12-11 18:03] cwholmes commented on #398
Seems to be the same issue as #375

[2020-12-18 15:53] etschelp opened #400 "third-party-report.html not well formed"
I want to apply a xslt transformation to the html report, unfortunately this is not possible because of a missing `</td>`. The fix is actually quite simple. Add the following to line 217 of the AbstractLicenseReportRenderer.java

[code]

[2021-01-27 11:03] bjanczak commented on #86
We have same issue.
maven-license-plugin 2.0.0
`[2021-01-24T12:41:35.177Z] [ERROR] Failed to execute goal org.codehaus.mojo:license-maven-plugin:2.0.0:add-third-party (license-report) on project app-biggantt-lib: could not init goal AddThirdPartyMojo for reason : null: ConcurrentModificationException -> [Help 1]
[2021-01-24T12:41:35.177Z] org.apache.maven.lifecycle.LifecycleExecutionException: Fai

[2021-01-27 14:05] bjanczak commented on #354
What is a status of that issue. We have experienced similar one.

[2021-01-27 15:00] Stephan202 commented on #354
@bjanczak there's a PR for this issue (#355), but this plugin does not appear to be actively maintained :disappointed: . We're also still hitting this issue frequently.

Can one of the maintainers please have a look at this :point_up: PR? It's a very tiny fix.

[2021-02-25 15:09] thermaleagle commented on #126
I got it on a multimodule project today as well with 2.0.0

[2021-04-17 02:56] astropcrb opened #403 "Downloading Licenses gives Cookie Header Warning"
I am getting a warning such as:

when using the "download-licenses" goal. A quick StackOverflow search turns up an easy solution.
`HttpClient httpClient = HttpClientBuilder.create()
            .setDefaultRequestConfig(RequestConfig.custom()
                    .setCookieSpec(CookieSpecs.STANDARD).build()).build();`

Need to update the creation of the HttpClient to set the Cookie Spec. See StackOv

[2021-04-27 21:10] kleyton-ohare opened #405 "Update FreeMarker version"
Current version is [2.3.20](https://github.com/mojohaus/license-maven-plugin/blob/master/pom.xml#L304) and I am looking to use [Loop variable built-ins](https://freemarker.apache.org/docs/ref_builtins_loop_var.html) from version 2.3.23.

Thank you.

[2021-04-28 13:20] #405 closed

[2021-04-28 13:23] #386 closed

[2021-06-11 10:51] caroso-de opened #407 "aggregate-add-third-party: missingFileUrl, licenseMergesUrl and licenseMergesUrl not considered"
Hi,

i found that using configurations from urls is not possible using **aggregate-add-third-party** (as opposed to **add-third-party**). I believe this is because these attributes are not passed to the add-third-party mojo during `initFromMojo` as such:

[code]

Original Code from Tag 2.0.0

https://github.com/mojohaus/license-maven-plugin/blob/bb7100581e206e1e375a0e007b7024e2688ae05a/src/main/ja

[2021-06-11 13:05] caroso-de commented on #313
I totally agree with both of your suggestions.
Unifying the configurations (not necessarily using the cumbersome add-third-party-way) would be a great improvement because if you use both goals (not necessarily to the same ends) you'd not have to duplicate your findings.
Merging licenses is the second most important feature to me. I don't see how I'd cope with large projects otherwise.

Additionall

[2021-06-14 07:08] caroso-de commented on #372
From a users point of view:
add-third-party and, in theory, aggregate-add-third-party (see #407) both have a feature that download-licenses is sorely lacking: configuring license-handling/post-processing from remote urls.

If you (as quite some projects do) decide against a version range for your maven parents, configuring those aspects in a maven parent ist hardly feasible as you'd have to roll o

[2021-06-15 09:51] caroso-de commented on #407
Just in case that anyone has the same problem: A viable option is to have an additional pom to your multimodule-project that aggregates the main aggregator pom of your project and has a separate license-parent which either could be a snapshot or using a version range.

This way your multimodule-project can keep its fixed-version parent and you can always update your license-plugins configuration

[2021-06-15 10:34] bmarwell commented on #407
Hi @caroso-de – thanks for your finding!
Can you create an integration test to reproduce the problem and create a PR?

[2021-06-15 12:35] caroso-de commented on #407
Hi @bmarwell, I think i can. It might take a while, though.

On a different note: I just switched my solution to the aforementioned workaround as it allows for the use the much more conveniant pom-based licenseMerges configuration (and works perfectly offline).